/*menu*/
.navig-wrap{
	position: relative;
}
nav.smanone{
	padding: 8px 0;
	background: #000;
	position: relative;
}
nav.smanone .menu-blog-menu-container{
	max-width: 1024px;
	margin: 0 auto;
}
nav.smanone .menu-blog-menu-container li{
	display: inline-block;
	float: left;
	vertical-align: middle;
    border-right: 1px solid #ccc;
    padding: 0 16px;
}
nav.smanone .menu-blog-menu-container li:first-child{
	border-left: 1px solid #ccc;
}
nav.smanone .menu-blog-menu-container li a{
	color: #fff;
}
nav.smanone .menu-blog-menu-container li a:hover{
	color: #ddd;
}
nav.smanone li .sub-menu {
	position: absolute;
	top: 100%;
	right: 0;
	padding: 8px 0;
	width: 250px;
	display: none;
}
nav.smanone li .sub-menu li {
	padding: 5px 10px;
	border: 0;
}
nav.smanone li:hover .sub-menu {
	display: block;
}
nav.smanone li ul{
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
}
nav.smanone li ul li{
	overflow: hidden;
	height:0;
	margin: 0;
	padding: 0;
}
nav.smanone li ul li a{
	text-align:left;
	padding: 5px 0 0 10px;
	display: block;
}
nav.smanone li:hover ul li{
	overflow: visible;
	height: auto;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border:1px #ccc solid;
	background: #000;
	float: none;
	display: block;
	border-top: none;
}
nav.navbarfixed{
	position: fixed;
}
nav.smanone .navbar{
	padding: 32px 0 16px;
	transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
}
nav.smanone ul.menu > li {
	border-right: 1px solid #e7e7e7;
	padding: 0 24px;
	position: relative;
	float: left;
	display: inline-block;
}
nav.smanone ul.menu > li:first-child {
	border-left: 1px solid #e7e7e7;
}
.menu-navigation-container {
	overflow: hidden;
}
/*top*/
.page-feature-image{
	padding: 0;
}
/*blog list*/
.archive-posts .entry .entry-content{
	padding: 0;
}
.cat-posts .post-wrap .entry-title{
	font-size: 1em;
}
.category_list{
	text-align: center;
	margin-bottom: 32px;
}
.category_list li{
	display: inline-block;
}
.category_list a{
	display: block;
	background: #ccc;
    padding: 2px 8px;
}
.category_list a:hover{
	background: #999;
	color: #fff;
}
.single-posts .entry h4{
	font-size: 14px;
	overflow: hidden;
}