.category_list li{
	margin-bottom: 8px;
}
/*side*/
.menu_underh2{
	max-width: 100%;
	margin-top: 16px;
}
#twibox ul{
	background: #fff;
}
.snsb-wrap{
	padding: 0 0 20px;
}
/*single*/
.snsb li{
	float: none;
	display: inline-block;
	vertical-align: top;
}
.single-posts .post-wrap .entry{
	border-left: none;
}