.trans {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.26s ease-in-out 0s;
  -khtml-transition: all 0.26s ease-in-out 0s;
  -moz-transition: all 0.26s ease-in-out 0s;
  -ms-transition: all 0.26s ease-in-out 0s;
  -o-transition: all 0.26s ease-in-out 0s;
  transition: all 0.26s ease-in-out 0s;
}

.trans:hover {
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
}

.n-wrapper {
  width: auto;
  max-width: 1024px;
  margin: 0 auto;
}

.keyvisual {
  background: url(../img/page03/n-key01.jpg) no-repeat center center;
  background-size: auto 100%;
  height: 300px;
  border-top: 2px solid #efefef;
  margin-top: 8px;
}

.breadcrumb {
  padding-top: 5px;
}

.breadcrumb a {
  color: #c1c1c1;
  font-size: 10px;
  display: inline-block;
}

.breadcrumb span {
  color: #c1c1c1;
  font-size: 10px;
  display: inline-block;
  margin: 0 5px;
}

.keyvisual .text-inner {
  text-align: center;
  padding-top: 78px;
}

.keyvisual .text-inner span {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.16em;
  font-weight: bold;
  font-family: "Century Gothic";
  display: inline-block;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.keyvisual .text-inner .ttl-key {
  font-size: 34px;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.inforcar {
  margin-top: 98px;
}
.inforcar .left {
  float: left;
  width: 580px;
}
.inforcar .left .bxslider ul li img {
  width: 100%;
}
.inforcar .left #bx-pager a {
  float: left;
  width: 23.5%;
  margin-right: 2%;
  margin-top: 2%;
}
.inforcar .left #bx-pager a:nth-child(4n) {
  margin-right: 0;
}
.inforcar .right {
  float: right;
  width: 416px;
  text-align: left;
}
.inforcar .right .name {
  font-size: 26px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-top: -5px;
}
.inforcar .right .sub {
  font-size: 13px;
  letter-spacing: 0.12em;
  margin-bottom: 26px;
}
.inforcar .right .box-price {
  display: table;
  width: 100%;
  border: 1px solid #cd1a1a;
  margin-bottom: 10px;
}
.inforcar .right .box-price .text {
  display: table-cell;
  background: #cd1a1a;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  width: 73px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.075em;
}
.inforcar .right .box-price .number {
  font-size: 15px;
  letter-spacing: 0.075em;
  color: #3c3c3c;
  height: 72px;
  padding: 0 50px;
}
.inforcar .right .box-price .number span {
  color: #cd1a1a;
  font-size: 48px;
  font-weight: bold;
  margin-right: 2px;
}
.inforcar .right .inquiry {
  font-size: 13px;
  letter-spacing: 0.12em;
  margin-bottom: 11px;
}
.inforcar .right .box-store {
  border: 2px solid #e5e5e5;
  margin-top: 21px;
}
.inforcar .right .box-store .heading {
  background: #f6f6f6;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 19px;
  letter-spacing: 0.12em;
}
.inforcar .right .box-store .middle {
  padding: 4px 0px 0 23px;
}
.inforcar .right .box-store .tel {
  margin-bottom: -10px;
}
.inforcar .right .box-store .tel .inner {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #cd1a1a;
  font-weight: bold;
  letter-spacing: 0.075em;
  background: #ffeded;
  border-radius: 20px;
  width: 66px;
  text-align: center;
  margin-right: 14px;
  position: relative;
  top: 3px;
}
.inforcar .right .box-store .tel .number {
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: #cd1a1a;
  display: inline-block;
  vertical-align: middle;
  font-family: "Century Gothic";
}
.inforcar .right .box-store p {
  font-size: 13px;
  letter-spacing: 0.12em;
  color: #cd1a1a;
}
.inforcar .right .box-store .bottom {
  border-top: 1px solid #e5e5e5;
  padding: 14px 22px 19px 23px;
  line-height: 25px;
}
.inforcar .right .box-store .bottom p {
  color: #000000;
  margin-bottom: 11px;
}
.inforcar .right .box-store .bottom a.position {
  display: block;
  background: #626262;
  color: #fff;
  text-align: center;
  padding: 12px 0;
}
.inforcar .right .box-store .bottom a.position span {
  font-size: 15px;
  letter-spacing: 0.075em;
  padding-left: 24px;
  background: url(../img/page03/icon01.png) no-repeat left center;
}

.cover-tbl {
  margin-top: 44px;
}
.cover-tbl .ttl-tbl {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.12em;
  margin-bottom: 11px;
}

.tbl-info {
  border: 2px solid #e5e5e5;
  width: 100%;
  margin-bottom: 12px;
}
.tbl-info tr td:nth-child(2n+1) {
  background: #f6f6f6;
}
.tbl-info td {
  border: 0;
  height: 41px;
  width: 146px;
  padding: 0 22px;
  font-size: 13px;
  letter-spacing: 0.12em;
  border-bottom: 1px solid #e5e5e5;
}
.tbl-info td.l-pink {
  background: #ffeded !important;
}
.tbl-info td .tag {
  display: inline-block;
  color: #fff;
  background: #ff9c01;
  font-size: 11px;
  padding: 0px 7px;
  margin-bottom: 3px;
  line-height: 22px;
}

a.n-link {
  display: block;
  border: 2px solid #cd1a1a;
  text-align: center;
  font-size: 15px;
  color: #cd1a1a;
  letter-spacing: 0.075em;
  position: relative;
  padding: 11px 0;
}
a.n-link.stl2 {
  border-width: 1px;
  width: 184px;
  text-align: left;
  font-size: 13px;
  padding: 1px 11px;
  letter-spacing: 0.12em;
  display: inline-block;
}
a.n-link.stl3 {
  margin: 20px 0;
}
a.n-link.mt10 {
  margin-top: 10px;
}
a.n-link:after {
  position: absolute;
  width: 9px;
  height: 8px;
  content: "";
  top: 50%;
  margin-top: -4px;
  right: 9px;
  background: url(../img/home/icon-arrow.png) no-repeat center center;
}

.recommended.second {
  background: #fff;
  padding-top: 134px;
  padding-bottom: 80px;
}
.recommended.second .block-title h3 {
  margin-bottom: 20px;
}
.recommended.second .info-content {
  border: 1px solid #e5e5e5;
  border-top: 0;
}

.box-line.second {
  position: fixed;
  right: 20px;
  top: 50%;
  margin-top: -150px;
}
.keyvisual.archi {
  background: url(../img/page03/n-key02.jpg) no-repeat center center;
}

.new-value {
  padding-top: 80px;
}
.new-value .ttl-value {
  text-align: center;
  font-size: 28px;
  line-height: 46px;
  font-weight: bold;
  color: #1e1e1e;
  letter-spacing: 0.14em;
  position: relative;
  padding-left: 18px;
  margin-bottom: 103px;
}
.new-value .ttl-value:after {
  position: absolute;
  width: 26px;
  height: 1px;
  left: 50%;
  margin-left: -13px;
  background: #cd1a1a;
}
.new-value .ttl-value span {
  color: #cd1a1a;
}

.box-value {
  margin-bottom: 70px;
}
.box-value.revert .text {
  float: right;
}
.box-value.revert .image {
  float: left;
}
.box-value .text {
  float: left;
  width: 548px;
}
.box-value .text .ttl-sub {
  font-size: 24px;
  line-height: 37.86px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-top: -4px;
  margin-bottom: 22px;
  text-align: justify;
}
.box-value .text .ttl-sub span {
  color: #cd1a1a;
}
.box-value .text p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-bottom: 12px;
  text-align: justify;
}
.box-value .image {
  float: right;
  width: 440px;
}

.history {
  padding-top: 60px;
  padding-bottom: 90px;
  background: #f6f6f6;
}
.history .ttl-history {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 35px;
}
.history ul li {
  background: #fff;
  margin-bottom: 7px;
  font-size: 15px;
  padding: 13px 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.12em;
  white-space: nowrap;
}
.history ul li .year {
  font-style: italic;
  line-height: 48px;
  border-right: 1px solid #e3e3e3;
  display: inline-block;
  width: 102px;
  margin-right: 26px;
}

.cart-totalsupport.archi {
  padding: 71px 0 55px;
  background: #fff;
}
.cart-totalsupport.archi .list-item .item {
  border: 1px solid #dcdcdc;
  padding-bottom: 9px;
}
.cart-totalsupport.archi .list-item .item span {
  padding-top: 12px;
}
/*********************************************************************************/
.keyvisual.archi {
  background: url(../img/page03/n-key02.jpg) no-repeat center center;
}
.keyvisual.maintaince {
  background: url(../img/page03/n-key03.jpg) no-repeat center center;
}
.keyvisual.warranty {
  background: url(../img/page03/n-key04.jpg) no-repeat center center;
}

.new-value {
  padding-top: 80px;
}

.ttl-value-cmn {
  text-align: center;
  font-size: 28px;
  line-height: 46px;
  font-weight: bold;
  color: #1e1e1e;
  letter-spacing: 0.08em;
  position: relative;
  padding-left: 18px;
  margin-bottom: 103px;
}
.ttl-value-cmn:after {
  position: absolute;
  content: "";
  width: 26px;
  height: 1px;
  left: 50%;
  bottom: -23px;
  margin-left: -13px;
  background: #cd1a1a;
}
.ttl-value-cmn span {
  color: #cd1a1a;
}

.box-value {
  margin-bottom: 70px;
}
.box-value.revert .text {
  float: right;
}
.box-value.revert .image {
  float: left;
}
.box-value .text {
  float: left;
  width: 548px;
}
.box-value .text .ttl-sub {
  font-size: 24px;
  line-height: 37.86px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-top: -4px;
  margin-bottom: 22px;
  text-align: justify;
}
.box-value .text .ttl-sub span {
  color: #cd1a1a;
}
.box-value .text p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-bottom: 12px;
  text-align: justify;
}
.box-value .image {
  float: right;
  width: 440px;
}

.history {
  padding-top: 60px;
  padding-bottom: 90px;
  background: #f6f6f6;
}
.history .ttl-history {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 35px;
}
.history ul li {
  background: #fff;
  margin-bottom: 7px;
  font-size: 15px;
  padding: 13px 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.12em;
  white-space: nowrap;
}
.history ul li .year {
  font-style: italic;
  line-height: 48px;
  border-right: 1px solid #e3e3e3;
  display: inline-block;
  width: 102px;
  margin-right: 26px;
}

.cart-totalsupport.archi {
  padding: 71px 0 55px;
  background: #fff;
}
.cart-totalsupport.archi .list-item .item {
  border: 1px solid #dcdcdc;
  padding-bottom: 9px;
}
.cart-totalsupport.archi .list-item .item span {
  padding-top: 12px;
}

.block-maintaince {
  padding-top: 83px;
  padding-bottom: 19px;
  border-bottom: 15px solid #f6f6f6;
}
.block-maintaince .ttl-value-cmn {
  margin-bottom: 91px;
  letter-spacing: 0.05em;
}
.block-maintaince .box-maintaince {
  float: left;
  width: 31%;
  margin-right: 3.5%;
  margin-bottom: 63px;
}
.block-maintaince .box-maintaince:nth-child(3n) {
  margin-right: 0;
}
.block-maintaince .box-maintaince .ttl-main {
  text-align: center;
  font-weight: bold;
  color: #cd1a1a;
  font-size: 20px;
  letter-spacing: 0.12em;
  margin-top: 23px;
  margin-bottom: 18px;
}
.block-maintaince .box-maintaince p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.12em;
  margin-bottom: 24px;
  min-height: 84px;
}
.block-maintaince .box-maintaince a {
  display: block;
  padding: 11px 0 10px;
  border: 2px solid #e5e5e5;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.075em;
  color: #000000;
  position: relative;
}
.block-maintaince .box-maintaince a:hover{
  color: #f0394d;
}
.block-maintaince .box-maintaince a:after {
  position: absolute;
  width: 9px;
  height: 8px;
  content: "";
  top: 50%;
  margin-top: -4px;
  right: 13px;
  background: url(../img/home/icon-arrow.png) no-repeat center center;
}

.guarantee {
  padding-top: 68px;
}
.guarantee .ttl-value-cmn {
  font-size: 24px;
  letter-spacing: 0.14em;
  margin-bottom: 89px;
}
.guarantee .ttl-value-cmn:after {
  bottom: -37px;
}

.top-guarantee {
  margin-bottom: 58px;
}
.top-guarantee.reveert .left {
  float: right;
  padding: 0;
  border: 0;
}
.top-guarantee.reveert .right {
  float: left;
}
.top-guarantee .ttl-guarantee {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.14em;
  margin-bottom: 42px;
}
.top-guarantee .left {
  float: left;
  width: 444px;
  border: 2px solid #e5e5e5;
  padding: 15px 20px 12px;
}
.top-guarantee .left h4 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.14em;
  margin-bottom: 17px;
}
.top-guarantee .left .dis-tbl {
  display: table;
  width: 100%;
  border: 1px solid #cd1a1a;
  margin-bottom: 9px;
}
.top-guarantee .left .dis-tbl .num {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #cd1a1a;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  width: 55px;
  height: 59px;
}
.top-guarantee .left .dis-tbl .text {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px 0 24px;
}
.top-guarantee .left .dis-tbl .text.rever p {
  color: #000000;
}
.top-guarantee .left .dis-tbl .text.rever p span {
  color: #cd1a1a;
}
.top-guarantee .left .dis-tbl .text p {
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 0.12em;
  color: #cd1a1a;
  font-weight: bold;
}
.top-guarantee .left .dis-tbl .text p span {
  font-size: 25px;
  color: #000000;
}
.top-guarantee .right {
  float: right;
  width: 554px;
  text-align: left;
}
.top-guarantee .right h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 37.86px;
  letter-spacing: 0.14em;
  margin-bottom: 16px;
}
.top-guarantee .right p {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.12em;
}

.plan {
  padding-top: 17px;
}
.plan .ttl-plan {
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 26px;
}
.plan .desc {
  text-align: center;
  font-size: 24px;
  line-height: 42.86px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 43px;
}
.plan .box-plan {
  margin-bottom: 73px;
}
.plan .box-plan h4 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.14em;
  margin-bottom: 24px;
}

.example {
  padding-top: 21px;
  padding-bottom: 78px;
}
.example .ttl-ex {
  text-align: center;
  font-size: 20px;
  color: #cd1a1a;
  letter-spacing: 0.14em;
  margin-bottom: 17px;
}
.example .content-ex {
  border: 2px solid #e5e5e5;
  padding: 88px 119px 31px;
}
.example .content-ex ul li {
  float: left;
}
.example .content-ex ul li.bg {
  width: 98px;
  height: 69px;
  text-align: center;
  line-height: 69px;
  background: #cd1a1a;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.example .content-ex ul li.arrow {
  width: 95px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.14em;
  padding-top: 14px;
}
.example .content-ex ul li.arrow img {
  display: block;
  margin: 0 auto 8px;
}
.example .content-ex ul li.last {
  font-size: 32.49px;
  color: #cd1a1a;
  letter-spacing: 0.14em;
  font-weight: bold;
  line-height: 32px;
  padding-top: 4px;
}
.example .content-ex ul li.last span {
  font-size: 18px;
  letter-spacing: 0.14em;
  color: #000;
  display: block;
  margin-top: 2px;
}
.example .content-ex .bottom {
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.14em;
  background: #f6f6f6;
  padding: 5px 0;
}
.example .content-ex .bottom span {
  color: #cd1a1a;
}

.inquiries {
  background: #f6f6f6;
  padding: 73px 0 84px;
}
.inquiries .content {
  border: 1px solid #000;
  padding: 52px 0 60px;
  background: #fff;
  text-align: center;
}
.inquiries h2 {
  font-size: 24px;
  letter-spacing: 0.14rem;
  margin-bottom: 20px;
}
.inquiries a {
  display: inline-block;
  width: 400px;
  border: 2px solid #e5e5e5;
  background: #fff;
  color: #000;
  position: relative;
  margin: 0 14px;
  font-size: 18px;
  letter-spacing: 0.075em;
  padding: 16px 0;
}
.inquiries a.white:hover {
  color: #000;
}
.inquiries a:after {
  position: absolute;
  width: 9px;
  height: 8px;
  content: "";
  top: 50%;
  margin-top: -4px;
  right: 13px;
  background: url(../img/page03/icon-arrow.png) no-repeat center center;
}
.inquiries a.red {
  background: #cd1a1a;
  border-color: #cd1a1a;
  color: #fff;
}
.inquiries a.red:after {
  background: url(../img/page03/icon-arrow2.png) no-repeat center center;
}

/*# sourceMappingURL=ngoc-day1.css.map */


 .keyvisual.insurance {
  background: url(../img/page03/n-key05.jpg) no-repeat center center;
  background-size: auto 100%;
  padding-top: 0;
}

.insurance {
  padding-top: 66px;
}

.box-insurance {
  margin-bottom: 72px;
}
.box-insurance .ttl-inner {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.14em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 33px;
}
.box-insurance .content .left {
  float: left;
}
.box-insurance .content .right {
  float: right;
}
.box-insurance .content .center {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.12em;
  display: inline-block;
  padding-top: 115px;
  padding-left: 20px;
}

.box-features {
  margin-bottom: 62px;
}
.box-features .ttl-features {
  font-size: 28px;
  letter-spacing: 0.05em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 28px;
}
.box-features .box-inner {
  border: 2px solid #e5e5e5;
  border-bottom: 0;
  padding: 29px 20px 21px 82px;
}
.box-features .box-inner p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28.86px;
  letter-spacing: 0.05em;
  font-weight: bold;
  position: relative;
}
.box-features .box-inner p span {
  position: absolute;
  color: #cd1a1a;
  border: 1px solid #cd1a1a;
  font-size: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 22px;
  border-radius: 28px;
  left: -44px;
}
.box-features .box-inner .note {
  font-size: 13px;
  line-height: 18.86px;
  letter-spacing: 0.05em;
  padding-top: 7px;
}
.box-features .box-in-bottom {
  text-align: center;
  background: #ededed;
  border: 2px solid #e5e5e5;
  border-bottom: 0;
  font-size: 18px;
  line-height: 28.86px;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding: 23px 0;
}

.box-isurance-company {
  margin-bottom: 102px;
}
.box-isurance-company .ttl-box-isurance-company {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.14em;
  text-align: center;
  margin-bottom: 17px;
}
.box-isurance-company .inner {
  border: 2px solid #e5e5e5;
  padding: 37px 10px 7px 34px;
}
.box-isurance-company .inner .clearfix {
  margin-bottom: 30px;
}
.box-isurance-company .inner .left {
  float: left;
  width: 340px;
}
.box-isurance-company .inner .right {
  float: left;
  width: 580px;
  text-align: left;
  margin-left: 39px;
  padding-top: 3px;
}
.box-isurance-company .inner .right p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.12em;
}
.box-isurance-company .inner .right a {
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.12em;
  color: #cd1a1a;
  position: relative;
}
.box-isurance-company .inner .right a:after {
  content: "";
  width: 13px;
  height: 10px;
  background: url(../img/page03/icon03.png) no-repeat center center;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -5px;
  margin-left: 10px;
}

.n-different {
  margin-bottom: 64px;
}
.n-different .ttl-different {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.14em;
  text-align: center;
  margin-bottom: 28px;
}
.n-different .box-inner {
  border: 2px solid #e5e5e5;
  border-bottom: 0;
  padding: 29px 20px 21px 82px;
}
.n-different .box-inner:last-child {
  border-bottom: 2px solid #e5e5e5;
}
.n-different .box-inner .sub-ttl {
  font-size: 18px;
  line-height: 28.86px;
  font-weight: bold;
  letter-spacing: 0.14em;
  position: relative;
  margin-bottom: 10px;
}
.n-different .box-inner .sub-ttl span {
  position: absolute;
  color: #cd1a1a;
  border: 1px solid #cd1a1a;
  font-size: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 22px;
  border-radius: 28px;
  left: -44px;
}
.n-different .box-inner p {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}
.n-different .box-inner .note {
  margin-top: 20px;
}
.n-different .box-inner .note.second {
  margin-top: 34px;
}
.n-different .box-inner .note.second p {
  margin-bottom: 20px;
}
.n-different .box-inner .note p {
  font-size: 13px;
  line-height: 20.86px;
  letter-spacing: 0.05em;
}
.n-different .box-inner ul {
  margin-top: 37px;
}
.n-different .box-inner ul.stl2 {
  margin-top: 19px;
}
.n-different .box-inner ul li {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.05em;
  position: relative;
  margin-bottom: 10px;
  padding-left: 42px;
}
.n-different .box-inner ul li:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 17px;
  left: 0px;
  top: 7px;
  background: url(../img/page03/icon04.png) no-repeat center center;
}
.n-different .box-inner ul li .note {
  margin-top: 10px;
}

.n-policy {
  margin-bottom: 67px;
}
.n-policy .ttl-n-policy {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.14em;
  text-align: center;
  margin-bottom: 25px;
}
.n-policy .boc-n-polycy {
  border: 2px solid #e5e5e5;
  padding: 40px 43px 19px 64px;
}
.n-policy .boc-n-polycy .ttl-sub {
  font-size: 18px;
  line-height: 28.86px;
  font-weight: bold;
  letter-spacing: 0.14em;
  position: relative;
  margin-bottom: 10px;
}
.n-policy .boc-n-polycy p {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}
.n-policy .boc-n-polycy ol {
  list-style: decimal;
  padding-left: 15px;
}
.n-policy .boc-n-polycy ol li {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 22px;
}

.new-value.handing .ttl-value {
  margin-bottom: 98px;
}
.new-value.handing .box-value {
  margin-bottom: 60px;
}
.new-value.handing .box-value .text {
  width: 554px;
}
.new-value.handing .box-value .text p {
  line-height: 30px;
  letter-spacing: 0.05em;
}
.new-value.handing .box-value .text ul {
  padding-top: 11px;
}
.new-value.handing .box-value .text ul li {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.14em;
  margin-bottom: 8px;
}

.n-inspection {
  padding-top: 11px;
}
.n-inspection .ttl-inspection {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 21px;
}
.n-inspection .content {
  border: 2px solid #e5e5e5;
  padding: 34px 40px 22px;
}
.n-inspection ul li {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.05em;
  padding-left: 42px;
  position: relative;
  margin-bottom: 11px;
}
.n-inspection ul li:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 17px;
  left: 0px;
  top: 7px;
  background: url(../img/page03/icon04.png) no-repeat center center;
}

.sheet-metal {
  padding-top: 46px;
}
.sheet-metal .ttl-sheet-metal {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 10px;
}
.sheet-metal .content {
  border: 2px solid #e5e5e5;
  padding: 34px 40px 26px;
  text-align: center;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 0.1em;
}
.sheet-metal .content span {
  color: #cd1a1a;
  font-size: 136%;
}

.maintenance {
  padding-top: 67px;
  padding-bottom: 80px;
}
.maintenance .ttl-maintenance {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 12px;
}
.maintenance .cover {
  border: 1px solid #e5e5e5;
  margin-bottom: 21px;
}
.maintenance .box-bottom {
  background: #f6f6f6;
  padding: 32px 34px 25px;
}
.maintenance .box-bottom .sub-ttl {
  font-size: 18px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 6px;
}
.maintenance .box-bottom p {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}
.maintenance table {
  border: 1px solid #e5e5e5;
  width: 100%;
}
.maintenance table tr:first-child td {
  border-top: 0;
}
.maintenance table tr td {
  font-size: 13px;
  letter-spacing: 0.05em;
  border: 0;
  border-top: 1px solid #e5e5e5;
  padding: 8px 19px 7px;
}
.maintenance table tr td:nth-child(2n+1) {
  background: #f6f6f6;
  width: 15%;
}
.maintenance table tr td:nth-child(3n) {
  background: #f6f6f6;
}

.inquiries.second {
  padding-bottom: 68px;
}
.inquiries.second .content {
  padding-top: 46px;
  padding-bottom: 47px;
}
.inquiries.second h2 {
  margin-bottom: 25px;
}
.inquiries.second a {
  width: 379px;
  margin: 0 25px;
}

/*# sourceMappingURL=ngoc-day3.css.map */

.keyvisual.purchase {
  background: url(../img/page03/n-key07.jpg) no-repeat center center;
  background-size: auto 100%;
}
.keyvisual.hading {
  background: url(../img/page03/n-key12.jpg) no-repeat center center;
  background-size: auto 100%;
}
.keyvisual.outline {
  background: url(../img/page03/n-key08.jpg) no-repeat center center;
  background-size: auto 100%;
}
.keyvisual.recruit {
  background: url(../img/page03/n-key09.jpg) no-repeat center center;
  background-size: auto 100%;
}
.keyvisual.recruit .text-inner {
  padding-top: 57px;
}
.keyvisual.recruit .text-inner .ttl-key {
  line-height: 48px;
}
.keyvisual.recruit .text-inner span {
  margin-bottom: 10px;
}

.inquiries.purcha {
  padding: 69px 0 60px;
}
.inquiries.purcha .content {
  padding-bottom: 48px;
}
.inquiries.purcha h2 {
  line-height: 39px;
  letter-spacing: 0.14em;
  margin-bottom: 22px;
}
.inquiries.purcha h2 span {
  color: #cd1a1a;
}
.inquiries.purcha a.red {
  width: 558px;
}

.philosophy {
  padding-top: 77px;
}
.philosophy .ttl-philosophy {
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 41px;
}
.philosophy .desc {
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 45px;
}
.philosophy .box-phil {
  border: 2px solid #e5e5e5;
  padding: 29px 35px 15px;
  margin-bottom: 10px;
}
.philosophy .box-phil h3 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 16px;
}
.philosophy .box-phil p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.12em;
}

.n-message {
  padding-top: 93px;
  margin-bottom: 72px;
}
.n-message h3 {
  font-size: 28px;
  letter-spacing: 0.14em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 53px;
}
.n-message .avatar {
  float: left;
  width: 250px;
}
.n-message .avatar img {
  display: block;
}
.n-message .avatar p {
  font-size: 18px;
  letter-spacing: 0.12em;
  margin: 20px 0 9px;
}
.n-message .text {
  float: right;
  width: 753px;
}
.n-message .text h4 {
  font-size: 24px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 48px;
}
.n-message .text .desc2 {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.12em;
  font-weight: bold;
  margin-bottom: 3px;
  margin-bottom: 12px;
}
.n-message .text p {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.12em;
  margin-bottom: 0;
}

.infor-company {
  margin-bottom: 74px;
}
.infor-company h3 {
  font-size: 28px;
  letter-spacing: 0.14em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.infor-company table {
  border: 2px solid #e5e5e5;
  width: 100%;
}
.infor-company table tr:first-child td {
  border: 0;
}
.infor-company table tr td {
  border: 0;
  border-top: 1px solid #e5e5e5;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.05em;
  padding: 10px 18px 10px;
}
.infor-company table tr td:first-child {
  background: #f6f6f6;
  width: 156px;
}

.n-recruit {
  padding-top: 68px;
}
.n-recruit .ttl-value-cmn {
  font-size: 24px;
  margin-bottom: 96px;
}
.n-recruit .box-value {
  margin-bottom: 0;
}
.n-recruit .box-value.rcu p {
  margin-bottom: 30px;
}

.n-staff {
  padding-top: 23px;
}
.n-staff h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.14em;
  margin-bottom: 24px;
}
.n-staff .cover {
  margin: 0 -10px;
}
.n-staff .cover .inner {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.n-staff .cover .inner img {
  display: block;
  margin-bottom: 15px;
}
.n-staff .cover .inner p {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.12em;
}
.n-staff .cover .inner a:hover {
  color: 000;
}

.requirements {
  padding-top: 63px;
}
.requirements h2 {
  font-size: 28px;
  letter-spacing: 0.14em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 22px;
}
.requirements .box-requirements {
  margin-bottom: 74px;
}
.requirements .box-requirements h3 {
  font-size: 20px;
  letter-spacing: 0.14em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.requirements .box-requirements h3 span {
  color: #cd1a1a;
}
.requirements .box-requirements table {
  border: 2px solid #e5e5e5;
}
.requirements .box-requirements table tr:first-child td {
  border: 0;
}
.requirements .box-requirements table tr td {
  border: 0;
  border-top: 1px solid #e5e5e5;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  padding: 35px 35px 35px 47px;
}
.requirements .box-requirements table tr td:first-child {
  background: #f6f6f6;
  width: 200px;
  padding: 10px 33px 10px;
}

.n-flow {
  padding-top: 4px;
}
.n-flow h2 {
  font-size: 28px;
  letter-spacing: 0.14em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 18px;
}
.n-flow .desc3 {
  font-size: 20px;
  letter-spacing: 0.14em;
  text-align: center;
  font-weight: bold;
  color: #cd1a1a;
  margin-bottom: 40px;
}
.n-flow .desc3 span {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  margin-top: 2px;
}
.n-flow .step {
  border: 2px solid #e5e5e5;
  margin-bottom: 56px;
  position: relative;
  padding: 24px 1px 26px 28px;
}
.n-flow .step.last:after {
  display: none;
}
.n-flow .step:after {
  position: absolute;
  content: "";
  width: 39px;
  height: 20px;
  background: url(../img/page03/icon05.png) no-repeat center center;
  left: 50%;
  margin-left: -20px;
  bottom: -40px;
}
.n-flow .step .ttl-setp {
  font-size: 22px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 8px;
}
.n-flow .step .ttl-setp span {
  color: #cd1a1a;
}
.n-flow .step p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.12em;
  margin-bottom: 0;
}

.n-plusbox {
  padding-top: 7px;
}
.n-plusbox .box-value .text .ttl-sub {
  margin-bottom: 19px;
}
.n-plusbox .box-value .text p {
  margin-bottom: 19px;
}

.entry-form {
  padding-top: 24px;
  padding-bottom: 88px;
}
.entry-form h2 {
  font-size: 28px;
  letter-spacing: 0.14em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.entry-form .desc {
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.14em;
  margin-bottom: 29px;
}
.entry-form table {
  border: 2px solid #e5e5e5;
  width: 100%;
}
.entry-form table tr:first-child td {
  border: 0;
}
.entry-form table tr td {
  border: 0;
  border-top: 1px solid #e5e5e5;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  padding: 23px 37px;
}
.entry-form table tr td.white {
  background: #fff !important;
  text-align: center;
  padding: 31px 0 27px !important;
}
.entry-form table tr td.white button {
  display: inline-block;
  width: 143px;
  text-align: center;
  border: 1px solid #b7b7b7;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  padding: 4px 0 5px;
  outline: none;
  cursor: pointer;
}
.entry-form table tr td .ckb {
  cursor: pointer;
}
.entry-form table tr td .ckb input {
  display: none;
}
.entry-form table tr td .ckb span {
  font-size: 15px;
  letter-spacing: 0.1em;
  display: inline-block;
  padding-left: 24px;
  background: url(../img/page03/icon09.png) no-repeat 0 center;
}
.entry-form table tr td .ckb span .red {
  color: #cd1a1a;
}
.entry-form table tr td .ckb input:checked + span {
  background: url(../img/page03/icon08.png) no-repeat 0 center;
}
.entry-form table tr td a {
  color: #cd1a1a;
  text-decoration: underline;
  display: block;
  font-size: 15px;
  margin-top: 4px;
}
.entry-form table tr td .note {
  font-size: 15px;
  color: #cd1a1a;
  margin-top: 3px;
  margin-bottom: 5px;
}
.entry-form table tr td .mb4 {
  margin-bottom: 4px;
}
.entry-form table tr td select {
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 7px 5px;
}
.entry-form table tr td p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.1em;
  padding-top: 7px;
}
.entry-form table tr td input[type="text"] {
  display: inline-block;
  width: 301px;
  height: 38px;
  border: 1px solid #b7b7b7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 0;
  font-size: 15px;
  letter-spacing: 0.14em;
  text-indent: 15px;
}
.entry-form table tr td:first-child {
  background: #f6f6f6;
  width: 200px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.1em;
  padding: 10px 20px 10px 27px;
}
.entry-form table tr td:first-child span {
  color: #cd1a1a;
}
.entry-form table tr td ul li {
  display: inline-block;
}
.entry-form table tr td ul li label {
  cursor: pointer;
}
.entry-form table tr td ul li label input {
  display: none;
}
.entry-form table tr td ul li label span {
  font-size: 15px;
  letter-spacing: 0.1em;
  display: inline-block;
  padding-left: 47px;
  background: url(../img/page03/icon06.png) no-repeat 19px center;
}
.entry-form table tr td ul li label input:checked + span {
  background: url(../img/page03/icon07.png) no-repeat 19px center;
}
/*# sourceMappingURL=ngoc-day4.css.map */

.keyvisual.voice {
  background: url(../img/page03/n-key10.jpg) no-repeat center center;
  background-size: auto 100%;
}
.keyvisual.faq {
  background: url(../img/page03/n-key11.jpg) no-repeat center center;
  background-size: auto 100%;
}
.keyvisual.recruit {
  background: #000;
}

.link-inner {
  padding-top: 108px;
  margin-bottom: 76px;
}
.link-inner h2 {
  font-size: 28px;
  letter-spacing: 0.14em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 9px;
}
.link-inner ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.link-inner ul li {
  box-sizing: border-box;
  width: 33.3333333%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 20px 0 0 0;
}
.link-inner ul li a {
  font-size: 18px;
  letter-spacing: 0.075em;
  background: #f6f6f6;
  border: 2px solid #e5e5e5;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 17px 21px 16px;
}
.link-inner ul li a:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 9px;
  background: url(../img/page03/icon10.png) no-repeat;
  right: 11px;
  top: 50%;
  margin-top: -4.5px;
}

.list-voice h2 {
  font-size: 28px;
  letter-spacing: 0.14em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 38px;
}

.box-list-voice {
  border: 2px solid #e5e5e5;
  margin-bottom: 16px;
}
.box-list-voice .heading {
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #cd1a1a;
  border-bottom: 1px solid #e5e5e5;
  padding: 17px 33px;
}
.box-list-voice .bd-voice {
  padding: 26px 21px 21px 35px;
}
.box-list-voice .bd-voice .m-height {
  min-height: 86px;
}
.box-list-voice .bd-voice p {
  font-size: 15px;
  letter-spacing: 0.05em;
}
.box-list-voice .bd-voice .note {
  text-align: right;
  font-size: 13px;
  letter-spacing: 0.05em;
  font-weight: normal;
}
.box-list-voice .bd-voice .note span {
  color: #cd1a1a;
}

.n-pager {
  padding-top: 27px;
  margin-bottom: 131px;
}
.n-pager ul {
  text-align: center;
}
.n-pager ul li {
  display: inline-block;
  margin: 0 7px;
}
.n-pager ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2em;
}
.n-pager ul li a:hover {
  background: #393939;
  border-color: #393939;
  color: #fff;
}
.n-pager ul li a.prev {
  width: auto;
  font-size: 12px;
  width: 80px;
  padding-left: 20px;
  background: url(../img/page03/icon11.png) no-repeat 14px center;
}
.n-pager ul li a.prev:hover {
  background: #393939 url(../img/page03/icon12.png) no-repeat 14px center;
}
.n-pager ul li a.next {
  width: auto;
  font-size: 12px;
  width: 80px;
  padding-right: 20px;
  background: url(../img/page03/icon13.png) no-repeat right 14px center;
}
.n-pager ul li a.next:hover {
  background: #393939 url(../img/page03/icon14.png) no-repeat right 14px center;
}

.link-inner.faq {
  padding-top: 48px;
  margin-bottom: 110px;
}

.list-faq {
  padding: 0 0 89px;
}
.list-faq h2 {
  font-size: 28px;
  letter-spacing: 0.14em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 39px;
}
.list-faq .content {
  border-bottom: 2px solid #e5e5e5;
}

.box-faq .heading-accor {
  display: table;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-bottom: 0;
  position: relative;
  cursor: pointer;
}
.box-faq .heading-accor :after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  right: 21px;
  background: url(../img/page03/icon15.png) no-repeat center center;
}
.box-faq .heading-accor.active :after {
  background: url(../img/page03/icon16.png) no-repeat center center;
}
.box-faq .heading-accor .left {
  display: table-cell;
  font-size: 28px;
  width: 78px;
  padding-left: 36px;
}
.box-faq .heading-accor .text {
  display: table-cell;
  font-size: 18px;
  letter-spacing: 0.05em;
  padding: 22px 40px 22px 0;
}
.box-faq .body-accor {
  display: none;
}
.box-faq .body-accor .n-cover {
  display: table;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-bottom: 0;
  background: #fff9f9;
}
.box-faq .body-accor .left {
  display: table-cell;
  font-size: 28px;
  width: 80px;
  padding-left: 36px;
  color: #cd1a1a;
}
.box-faq .body-accor .text {
  padding: 32px 30px 30px 0;
}
.box-faq .body-accor .text p {
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin-bottom: 13px;
}
.box-faq .body-accor .text ol {
  padding-left: 17px;
  margin-bottom: 13px;
}
.box-faq .body-accor .text ol li {
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin-bottom: 0;
}
.box-faq .body-accor .text table {
  border: 2px solid #e5e5e5;
  margin: 35px auto 21px;
}
.box-faq .body-accor .text table tr td {
  padding: 0;
  border: 0;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 8px 0 7px;
}
.box-faq .body-accor .text table thead tr td {
  background: #e5e5e5;
  border: 0;
  border-left: 1px solid #fff;
  font-size: 13px;
}
.box-faq .body-accor .text table tbody tr td {
  font-size: 13px;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  background: #fff;
}
.box-faq .body-accor .text table tbody tr td:first-child {
  font-size: 13px;
  text-align: left;
  background: #f6f6f6;
  padding-left: 18px;
  padding-right: 10px;
  width: 156px;
}

.entry-form textarea {
  width: 100%;
  height: 182px;
  resize: none;
  border: 1px solid #b7b7b7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  font-size: 15px;
  letter-spacing: 0.14em;
  padding: 10px;
  font-weight: normal;
  font-family: 'Heisei Kaku Gothic Std W5', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
.entry-form.contact {
  padding-top: 68px;
}
.entry-form.contact .ttl-value-cmn {
  font-size: 24px;
  margin-bottom: 107px;
}
.entry-form.contact .desc {
  font-size: 28px;
  letter-spacing: 0.14em;
  font-weight: bold;
  margin-bottom: 32px;
}
.entry-form.contact table tr td.white.second {
  padding-right: 191px !important;
}
.entry-form.contact table tr td ul li {
  width: 180px;
}
.entry-form.contact table tr td ul li label span {
  padding-left: 30px;
  background: url(../img/page03/icon06.png) no-repeat left center;
}


/*# sourceMappingURL=ngoc-day5.css.map */
