﻿@charset "utf-8";
/* CSS Document
Theme Name: monkeytheme_kid
Template: monkeytheme
 */
@import url('ngoc.css');
@import url('style1.css');
@import url('n-reponsive.css');

* {
	outline: 0;
	border: 0;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-size: 15px;
	line-height: 1.7;
	font-family:メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, 'ＭＳ Ｐゴシック', 'MS PGothic', Osaka, Verdana, sans-serif;
	background: #fff;
}

/* clearfix */
.clearfix {
	zoom:1;
}
.clearfix:after{
	content: ""; 
	display: block; 
	clear: both;
}
a {
	text-decoration: none;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
@media screen and (min-width:641px) {
	@media screen and (min-width:641px) {
		a {
			text-decoration: none;
			transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
		}
		a:hover img{
			opacity: 0.5;
			-moz-opacity: 0.5;
			filter: alpha(opacity=50);
		}
	}
}
 
p {
	margin-bottom: 15px;
}
.pc-none {
    display: none !important;
}
table {
	border-collapse: collapse;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
/*--h--*/

/*--フロート--*/
.floatL {
	float: left;
}
.floatR {
	float: right;
}
/*--マージン--*/
.mg_l10 {
	margin-left:10px !important;
}
.mg_l50 {
	margin-left:50px !important;
}
/*--パディング--*/
.pd_10 {
	padding:10px !important;
}
/*--ブロック--*/
.dplay_b{
	display: block;
}
/*--text--*/
.textL{
	text-align: left;
	padding: 7px 10px 7px 50px;
}

/*
Breadcrumb
*/
#breadcrumb .breadcrumbs{
	font-size: 14px;
	padding-bottom: 20px;
}
#breadcrumb ul li {
	display: inline-block;
}
#breadcrumb ul li + li:before {
	content: '＞';
	display: inline-block;
	margin: 0 5px;
}
#breadcrumb ul li a,
#breadcrumb ul li span {
	display: inline-block;
}
#breadcrumb ul li a {
	text-decoration: underline;
}
/*--バナー--*/
#ct_banner{
	margin-top: 20px;
	padding-left: 30px;
	float: left;
}
#ct_banner ul{
	width: 650px;
}
#ct_banner li{
	list-style: none;
	width: 250px;
	margin: 0px 16px 32px 16px;
	float: left;
}
#ct_banner img{
	width: 250px;
	text-decoration: none;
}
#ct_banner a{
	text-decoration: none;
}
#c_banner{
	margin-top: 25px;
	padding-top: 25px;
	border-top: 2px #ddd dashed;
}
#c_banner img{
	width: 250px;
	margin: 0px 22px 30px 22px;
	text-decoration: none;
}
#c_banner a{
	text-decoration: none;
}
#t_banner img{
	width: 160px;
	margin: 25px 5px 10px 0px;
	text-decoration: none;
}
#t_banner a{
	text-decoration: none;
}

.menu_underh2 {
	font-size: 18px;
	font-weight: normal;
	max-width: 95%;
	padding: 3px 10px;
	color: #fff;
	background: #cd1a1a;
}

#side_mail {
	margin: 0 0 20px;
}
.mail_btn {
	display: block;
    font-size: 20px;
    line-height: 48px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #cd1a1a;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}
.mail_btn:before{
	content: '';
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url(images/arrow.png);
	margin-right: 15px;
	vertical-align: middle;
	margin-top: -2px;
}

#newsRss {
	width: 100%;
	height: auto;
	margin:0 0 15px 0;
}

.newsRssBox{
	padding-top: 5px;
	padding-bottom: 5px;
}

.newsRssBox img{
	margin: 1px 0 0 0;
}

.newsRssBox div {
	float: left;
	margin: 0 15px 0 0;
}

.newsRssBox h4{
	font-weight: normal;
}
.newsRssBox h4 a{
	color: #000;
}
.newsRssBox h4 a:hover{
	color: #cd1a1a;
}

#news_btn {
	margin: 0 0 20px;
	text-align: center;
}
.news_btn {
	display: inline-block;
	text-align: left;
    font-size: 20px;
    padding: 8px 30px 8px 65px;
    background: #fff url(images/arrow.png) 30px center no-repeat;
    border: 1px solid #cd1a1a;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}

/*--テキストエディタ--*/
/*--目次--*/
div.mokuji {
	margin: 20px 0;
	padding: 20px;
	border: 3px dashed #595959;
}
div.mokuji h2 {
	border: none;
	margin: 0 0 20px;
	padding: 0 10px;
}
div.mokuji span{
	font-size: 25px;
	margin: 0 0 20px;
	padding: 0 0 0 36px;
	display: block;
	background: url("images/bg_mokuji.png") no-repeat;
	background-position: 0px 2px;
	font-weight: bolder;
}
div.mokuji ul{
	padding-top: 0; 
}
/*--ボックスシャドウ--*/
div.box_shadow {
	text-align: center;
}
div.box_shadow img{
	width: 96%;
	-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
}
/*--サイド--*/
#side ul li ul li {
	margin-bottom: 0;
}

/*--単一記事　関連記事--*/
/*.popular_blog .menu_underh2{
	background-image: url(images/sidebar_icon06.png);
	background-repeat: no-repeat;
	background-position: 10px top;
}
.newest_blog .menu_underh2{
	background-image: url(images/sidebar_icon02.png);
	background-repeat: no-repeat;
	background-position: 12px center;
}
.recommend_blog .menu_underh2{
	background-image: url(images/sidebar_icon04.png);
	background-repeat: no-repeat;
	background-position: 12px center;
}
.categories_blog .menu_underh2{
	background-image: url(images/sidebar_icon07.png);
	background-repeat: no-repeat;
	background-position: 12px center;
} */ 
.sidebar_box {
	display: block;
	margin: 0 0 20px;
}
.sidebar_blog {
	margin: 0 0 20px;
}
.sidebar_blog .sidebar_blog_in {
	background: #fff;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
}
.sidebar_blog ul li {
	display: inline-block;
	width: 100%;
	padding: 15px;
	border-bottom: 1px solid #f5f5f5;
	margin: 0!important;
}
.sidebar_blog ul li .featured-image {
	float: left;
	margin-right: 10px;
}
.sidebar_blog ul li .title {
	font-size: 12px;
}
.sidebar_blog .view-more {
	display: block;
	font-size: 14px;
	padding: 10px 15px;
	text-align: right;
}
.sidebar_blog .view-more:before{
	content: '';
	width: 13px;
	height: 13px;
	display: inline-block;
	background-image: url(images/black_arrow.png);
	margin-right: 8px;
	vertical-align: middle;
	margin-top: -2px;
}
.sidebar_blog .view-more:hover:before {
	background-image: url(images/primary_arrow.png);
}
/*--ライター--*/

.writer img {
	width: 30px;
	height: 30px;
	margin-bottom: 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
}

.writer-name {
	letter-spacing: 0;
	text-align: right;
	font-size: 12px;
	font-size: 0.8rem;
}
/*--トップニュース--*/
#topnews div {
	padding: 0;
	margin-bottom: 10px;
	padding-left: 0;
}
/*----------------------
     ナビゲーションエリア
-----------------------*/
.descr{
	width: 569px;
	float: right;
	margin-top: 10px;
}
/*--ナビゲーション--*/
#header-in, #wrap-in, #navi-in, #footer-in, #gazou-in, .rev-in {
	width: auto;
	max-width: 1024px;
	margin: 0 auto;
}
.fullwidth #wrap-in {
	max-width: 100%;
}
.fullwidth #wrap-in #breadcrumb {
	max-width: 1024px;
	margin: 0 auto;
}
.rev-in {
	text-align: center;
}
/*#wrap-in {
	position: relative;
	width: 1180px;
}*/
.page-feature-image {
	padding-top: 140px;
	text-align: center;
}
.navig-wrap {
	border-top: 3px solid #cd1a1a;
	background: #fff;
	position: fixed;
	width: 100%;
	z-index: 99;
	box-shadow: 0px 2px 3px rgba(13,7,10,0.25);
	-moz-box-shadow: 0px 2px 3px rgba(13,7,10,0.25);
	-webkit-box-shadow: 0px 2px 3px rgba(13,7,10,0.25);
	-ms-box-shadow: 0px 2px 3px rgba(13,7,10,0.25);
}
.navbarfixed {
	width: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
}
.navbarfixed #navi-in {
	padding: 5px 0;
}
.navbarfixed #navi-in .navbar {
	margin-top: 20px;
}
.navbarfixed .header-right {
	margin-top: 20px;
}
.logged-in .navbarfixed {
	top: 32px;
}

.logo {
	float: left;
	padding: 24px 0 0 0;
}
.logo a {
	display: inline-block;
    vertical-align: middle;
    padding-right: 24px;
}
.logo img {
	vertical-align: top;
}
.logo span{
	color: #a0a0a0;
	font-size: 10px;
	font-weight: normal;
	display: inline-block;
    vertical-align: middle;
}
.logo p{
	margin: 0;
}
.header-right {
	float: right;
	line-height: 25px;
	transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
}
.header-right .headbtn01 img {
	vertical-align: top;
}
.header-right .headbtn02 img {
	vertical-align: middle;
}
.header-right .headbtn01,
.header-right .headbtn02 {
	display: inline-block;
	vertical-align: middle;
}
#navi-in {
	position: relative;
	padding: 0;
}
#navi-in .navbar{
	padding: 32px 0 16px;
	transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
}
#navi-in ul.menu > li {
	border-right: 1px solid #e7e7e7;
	padding: 0 18px;
	position: relative;
	float: left;
	display: inline-block;
}
#navi-in ul.menu > li:first-child {
	border-left: 1px solid #e7e7e7;
}
#navi-in li.icon_flag > a{
	padding-left: 40px;
	background: url(images/nav_icon01.jpg) 15px center no-repeat;
}
#navi-in li.icon_user > a{
	padding-left: 40px;
	background: url(images/nav_icon02.jpg) 15px center no-repeat;
}
#navi-in li.icon_edit > a{
	padding-left: 40px;
	background: url(images/nav_icon03.jpg) 15px center no-repeat;
}
#navi-in li.icon_search > a{
	padding-left: 40px;
	background: url(images/nav_icon04.jpg) 15px center no-repeat;
}

#navi-in li a {
	float: none;
	color: #000;
	text-decoration: none;
	font-size: 16px;
	line-height: 25px;
	padding: 0 15px;
}
.menu-navigation-container {
	overflow: hidden;
}
#navi-in li a:hover {
	color: #cd1a1a;
	text-decoration: none;
}
#navi-in li .sub-menu {
	position: absolute;
	top: 100%;
	right: 0;
	padding: 10px 0;
	width: 250px;
	background: #fff;
	display: none;
}
#navi-in li .sub-menu li {
	padding: 5px 10px;
	border: 0;
}
#navi-in li:hover .sub-menu {
	display: block;
}
/*追記*/

#menu-navmenu  {
	padding: 0;
}
#menu-navmenu li{
 	position: relative;
 	float: left;
	margin-right: 5px;
	padding: 5px 0;
	text-align: center;
}
#menu-navmenu li:last-child{
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #ccc;
}
#menu-navmenu li li{
	width: 162px;
}
#menu-navmenu li a{
   	display: block;
   	margin: 0;
   	padding-left: 10px;
   	padding-right: 10px;
    font-size: 1.1em;
    font-weight: bold;	
}
#menu-navmenu li ul{
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
}
#menu-navmenu li ul li{
	overflow: hidden;
	height:0;
	margin: 0;
	padding: 0;
}
#menu-navmenu li ul li a{
	text-align:left;
	padding: 5px 0 0 10px;
	display: block;
}
#menu-navmenu li:hover ul li{
	overflow: visible;
	height: auto;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border:1px #ccc dotted;
	background: #252525;
}

#menu-sidebar,
#menu-sidebar ul,
#menu-sidebar ul li,
#menu-sidebar ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu-sidebar {
  width: 100%;
}
#menu-sidebar ul ul {
  display: none;
}
.align-right {
  float: right;
}
#menu-sidebar > ul > li > a {
  padding: 15px 20px;
  border-top: 1px solid #f5f5f5;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
#menu-sidebar > ul > li.menu-item-has-children > a {
	padding-right: 30px;
}
#menu-sidebar > ul > li:first-child > a {
	border: 0;
}
#menu-sidebar > ul > li > a:before {
	content: '';
	width: 5px;
	top: 0;
	bottom: 0;
	background: #cd1a1a;
	left: 0;
	position: absolute;
}
#menu-sidebar > ul > li.open > a {
  border-bottom: 1px solid #f5f5f5;
}

.holder {
}

.holder::before {
  display: block;
  position: absolute;
  content: "+";
  right: 15px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
#menu-sidebar ul li ul li {
	padding-left: 0;
}
#menu-sidebar ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 10px 10px 30px;
  z-index: 1;
  text-decoration: none;
}
#menu-sidebar ul ul li a:before {
	content: '';
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 9px solid #cd1a1a;
}

#menu-sidebar > ul > li > ul > li:last-child > a,
#menu-sidebar > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#menu-sidebar > ul > li > ul > li.open:last-child > a,
#menu-sidebar > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #f5f5f5;
}
#menu-sidebar > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#menu-sidebar ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "+";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
}

/*----------------------
      ヘッダーエリア
-----------------------*/
#header{
	width: 100%;
	height: 84px;
	background: #fff repeat none;
	border-bottom: 4px solid #000;
	top: 0;
	left: 0;
}

#container #header #header-in {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}

#header .logo {
	padding: 10px 0;
}
#container #header #header-in #h-l{
	float:none;
	width: 946px;
	padding: 10px 20px;
}
#h-l .descr {
	font-size: 13px;
}
#h-l .descr img{
	margin-top: 2px;
}
/*--ヘッダー画像--*/
#container #gazou #gazou-in #headimg{
	margin:0;
}
#gazou {
	background: #fff;
}
#gazou1 {
	background: #ddd;
}
/*--TOPコンテナ　バナー--*/
.home .rev-wrap {
	padding: 15px 0 37px;
	background: #fff;
}
#container #wrap {
	padding-top: 20px;
	padding-bottom: 50px;
}
#top_con {
	width: 70%;
	float: left;
	padding-right: 15px;
}
#top_con.nosidebar {
	width: 100%;
	float: none;
	padding-right: 0;
}
/*--続きを見る--*/
.motto {
	float: right;
}
.motto a{
	background-color: #575757;
	color: #fff;
}

#main .post .sumbox02 #topnews div dl dd .motto a {
	color: #fff;
}

/*--TOP一覧レイアウト--*/

.cat-posts .cat-name {
	font-size: 25px;
	padding-left: 12px;
	margin-bottom: 0.75em;
	font-weight: normal;
	line-height: 1;
	border-left: 5px solid #cd1a1a;
}
.cat-posts .post-wrap {
	margin-left: -6px;
	margin-right: -6px;
}
.cat-posts .post-wrap .entry {
	padding: 0 6px;
	margin-bottom: 12px;
}
.cat-posts .post-wrap .entry .entry-content p {
	margin: 0;
}

.cat-posts .post-wrap .entry-wrap {
	background: #fff;
}
.cat-posts .post-wrap .entry-title {
	margin: 7px 0 0;
	font-weight: 600;
	font-size: 20px;
}
.cat-posts .post-wrap .request-title {
	font-weight: 600;
	font-size: 17px;
}
.sumbox a {
	display: block;
	overflow: hidden;
}
@media screen and (min-width: 1200px){
	.sumbox a img {
		transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
	}
	.sumbox a img:hover {
		transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
	}
}

/*Category posts 1*/
.cat-posts-1 {
	margin-bottom: 35px;
	margin-top: 50px;
}
.cat-posts-1 .entry {
	float: left;
	width: 50%;
}
.cat-posts-1 .entry:nth-child(2n+1) {
	clear: both;
}
.cat-posts-1 .entry .entry-content {
	padding: 0 15px 10px;
	min-height: 55px;
}

/*Category posts 2*/
.cat-posts-2 {
	margin-bottom: 45px;
}
.cat-posts-2 .entry {
	float: left;
	width: 33.3333%;
}
.cat-posts-2 .entry:nth-child(3n+1) {
	clear: both;
}
.cat-posts-2 .entry .entry-content {
	padding: 7px 15px 10px
}

.view-all {
	text-align: center;
	margin-top: 10px;
}
.view-all a{
	display: inline-block;
	font-size: 18px;
	line-height: 48px;
	background: #fff;
	padding: 0 60px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
}
.view-all a:before{
	content: '';
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url(images/arrow.png);
	margin-right: 15px;
	vertical-align: middle;
	margin-top: -2px;
}


/*Category posts 3*/
.cat-posts-3 {
	margin-bottom: 45px;
}
.cat-posts-3 .entry {
	float: left;
	width: 33.3333%;
}
.cat-posts-3 .entry:nth-child(3n+1) {
	clear: both;
}
.cat-posts-3 .entry .entry-content {
	padding: 15px;
}

/*Social*/
.box-social {
	background: #fff;
	overflow: hidden;
	margin: 0 0 30px;
}
.box-social > div {
	float: left;
	width: 50%;
	padding: 10px;
}
.box-facebook iframe {
	max-width: 100%;
}
#tw-page {
	height: 300px;
	overflow: hidden;
}
/*-----------------------------
ページTOP
------------------------------*/

#page-top {
	position: fixed;
	bottom: 40px;
	right: 20px;
	font-size: 10px;
}
#page-top a {
	background: #665e53;
	text-decoration: none;
	color: #fff;
	width: 50px;
	padding: 10px 3px;
	text-align: center;
	display: block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
#page-top a:hover {
	text-decoration: none;
	background: #d6cdc0;
	color: #665e53;
}
/*-----------------------------
検索フォーム
-----------------------------*/
#side {
	width: 30%;
	padding-left: 15px;
}

#side_search {
	margin: 0 0 20px;
}

/*#side_search .menu_underh2{
	background-image: url(images/sidebar_icon07.png);
	background-repeat: no-repeat;
	background-position: 12px center;
}*/
#side_search #search {
	background: #fff;
	padding: 15px;
	border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
}
#s {
	float: left;
	height: 32px;
	border: 1px solid #e5e5e5;
	padding: 0 15px;
	background: #fff; 
	width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);

}
#s:focus {
	outline: 0;
	border-color: #cd1a1a;
}
#searchsubmit {
	float: left;
}
#side #searchform {
	position: relative;
	overflow: hidden;
}

/*
SNSB social
*/
/*.snsb-wrap .menu_underh2{
	background-image: url(images/sidebar_icon05.png);
	background-repeat: no-repeat;
	background-position: 12px center;
} */
.menu-sidebar-wrap {
	padding: 5px 0;
	background: #fff;
	margin: 0 0 20px;
}
.snsb-wrap {
	margin: 0 0 20px;
	background: #fff;
	padding: 10px 0;
}
.sidebar_banner{
	margin: 0 0 20px;
}
#ad1 ul {
	margin: 0 0 20px;
}
.snsb-wrap .snsb {
	padding: 15px 10px 0; 
}

/*-読者登録-*/
#mailmaga form{
	border: 3px dashed #666;
	padding: 20px;
	background: #f2f2f2;
	text-align: center;
}
#mailmaga input[type="text"] {
	width: 50%;
}
#mailmaga label{
	font-size: 130%;
	margin-bottom: 10px;
	display: block;
}

/*-オススメ記事表示-*/
.random dl .kanren_img{
    width: 230px;
    height: 153px;
    overflow: hidden;
}
.random dl .kanren_img img{
    max-width: 100%;
}
.random{
    overflow: hidden;
text-align: center;
}
.random h4{
    text-align: left;
    width: 230px;
}
.random dl{
    display: inline-block;
	padding: 10px 7px;
    vertical-align: top;
}
.random a{
    color: #252525;
    text-decoration: none;
}


/*
Archive
*/
.archive-posts .cat-title{
	font-size: 25px;
    padding-left: 12px;
    margin-bottom: 35px;
    font-weight: normal;
    line-height: 1;
    border-left: 5px solid #cd1a1a;
}

.archive-posts .entry {
	float: left;
	width: 25%;
}
.archive-posts .entry:nth-child(4n+1) {
	clear: both;
}
.archive-posts .entry .entry-content {
	padding: 15px;
}
.ts-fab-list li.ts-fab-bio-link a , .ts-fab-list li.ts-fab-bio-link a , .ts-fab-list li.ts-fab-latest-posts-link a{
	transition: all 0s ease;
    -moz-transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -ms-transition: all 0s ease;
}

/*single post*/
/*.page-template-default #main,*/
.single-post #main {
	background: #fff;
	padding: 25px 30px;
}
.single-post .entry-meta .entry-date {
	float: left;
	font-size: 18px;
	line-height: 1;
}
.single-post .entry-meta .entry-category {
	float: right;
}
.single-post .entry-meta .entry-category a {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	padding: 0 10px;
	color: #fff;
	background: #cd1a1a;
}
.single-post .entry-title {
	font-size: 28px;
	font-weight: bold;
	margin: 16px 0;
	padding-left: 12px;
	line-height: 1.3em;
	border-left: 5px solid #cd1a1a;
}
.single-post .entry-featured img {
	margin-bottom: 30px;
}
.single-post .entry-content ul {
	list-style: disc;
	padding-left: 30px;
}
.single-post .entry-content ol {
	list-style: decimal;
	padding-left: 30px;
}
.single-post .entry-content a {
	text-decoration: underline;
}
.single-post .entry-content h1 {
	font-size: 30px;
}
.single-post .entry-content h2 {
	font-size: 24px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 35px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #1a1a1a;
    color: #333;
    line-height: 30px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.single-post .entry-content h3 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 60px;
    color: #000000;
    line-height: 30px;
    background-image: url(images/cah3-bk.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999999;
}
.single-post .entry-content h4 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    line-height: 28px;
}
.single-post .entry-content a {
	color: blue;
	text-decoration: underline;
}
.single-post .entry-content a:hover {
	color: #cd1a1a;
}
/*記事内画像中央揃えを邪魔しているcss
.single-post .entry-content p img {
	margin: 30px 0;
}

*/

.entry-content .mail_btn  {
	font-size: 22px;
	line-height: 68px;
	margin-top: 40px;
}
.entry-content .mail_btn:before {
	width: 26px;
	height: 26px;
	background-image: url(images/arrow_large.png);
}
.single-post .kanren {
	font-size: 20px;
	line-height: 2.5;
	border-top: none;
	border-bottom: none;
	margin-bottom: 20px;
	padding: 0 15px;
	background: #f7f7f7;
}
#snsbox03 {
	margin-bottom: 40px;
}
.single-posts {
	margin-bottom: 45px;
}
.single-posts .entry{
	padding: 0 10px;
	border-left: 1px solid #e5e5e5;
	width: 33.3333%;
	float: left;
	margin-bottom: 10px;
}
.single-posts .entry:first-child {
	border: 0;
}
.single-posts .sumbox {
	float: left;
	margin-right: 15px;
}
.single-posts .entry h4 {
	font-size: 15px;
}

/*single-search*/
.car_main{
	float: left;
	width: 620px;
}
.bx-pager a{
	display: block;
    width: 20%;
    float: left;
}
.bx-pager a.active{}
.car_info{
	float: right;
	width: 300px;
}

/*
Footer
*/
.backtotop {
	position: fixed;
    bottom: 100px;
    right: 5px;
    cursor: pointer;
}
#footer {
	background: #e5e5e5;
}
#footer a {
	color: #000;
}
#footer a:hover {
	text-decoration: underline;
}
.footer-copyright p {
	margin: 0;
	text-align: center;
	color: #000;
	font-size: 13px;
	padding: 30px 15px;
}
.footer-widget {
	padding: 40px 0 10px;
	margin-left: -15px;
	margin-right: -15px;
	color: #000;
}
.footer-widget > div {
	width: 33.3333%;
	float: left;
	padding: 15px;
}
#footer #footer-in .footer-widget h4 {
	color: #000;
	padding: 5px 0;
}
.footer-widget .menu li {
	padding: 5px 0;
}
.footer-widget ul.menu > li:before {
	content: '';
	display: inline-block;
	margin-right: 10px;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 10px solid #000;
}
.footer-widget ul.sub-menu {
	padding-left: 30px;
}
.footer-widget ul.sub-menu > li:before {
	content: '＞';
	color: #000;
	margin-right: 5px;
}
.footer-address{
	margin: 20px 0 40px;
}
/*
Revolution Slider
*/
div.tparrows {
	width: 51px;
	height: 99px;
	background: #cd1a1a;
}
div.tparrows:before {
	line-height: 99px;
	font-size: 25px;
}
@media screen and (min-width: 1200px) {
	.tp-leftarrow {
		margin-left: -65px;
	}
	.tp-rightarrow {
		margin-right: -65px;
	}
}
div.tp-bullet {
	margin-top: 44px;
}
div.tp-bullet {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	background: #d2d2d2;
}
div.tp-bullet.selected,
div.tp-bullet:hover {
	background: #cd1a1a;
}



/*SP TOP*/
.sp-top-01 img {
	float: right;
	margin-left: 20px;
}
.sp-top-02 .img {
	max-width: 530px;
	margin: 0 auto 30px;
	background: url(images/pattern.png) 0 0 repeat;
	padding: 30px 30px 10px; 
	text-align: center;
}
.sp-top-03 .img {
	max-width: 530px;
	margin: 0 auto 25px;
	background: url(images/pattern.png) 0 0 repeat;
	padding: 30px 30px 0; 
	text-align: center;
}

/*privacypolicy*/
.h2_privacypolicy {
	font-size: 19px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C11920;
	color: #C11920;
	margin: 0 0 7px;
}

/*Responsive*/
@media (min-width: 768px) {
	/*--none--*/
	.pc_none{
		display: none;
	}
	.cat-posts-3 .entry .entry-content {
		padding: 7px 15px 15px;
		min-height: 98px;
		overflow: hidden;
	}
	.newsRssBox h4 {
		display: -webkit-flex;
        -webkit-flex-direction: row;
        display: flex;
        flex-direction: row; 
	}
	.container {
		width: 1024px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 640px) {
	.page-feature-image {
		padding-top: 0;
	}
	.navig-wrap {
		position: relative;
	}
	.logged-in .navbarfixed {
		top: 0;
	}
	#navi-in {
		padding: 10px 15px;
	}
	.logo img {
		max-height: 35px;
	}
	#top_con {
		padding: 0 15px;
		float: none;
		width: 100%;
	}
	#side {
		float: none;
		width: 100%;
		padding: 0 15px;
	}
}










