/* Custom Contact */
.entry-form table{
    border-bottom: 1px solid #e5e5e5;
}
.entry-form table tr th:first-child {
    background: #f6f6f6;
    width: 200px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.1em;
    padding: 10px 20px 10px 27px;
	border-top: 1px solid #e5e5e5;
}
.entry-form.contact table tr td ul li{
	width: auto;
    min-width: 210px;
}
.entry-form table tr td ul li label input:checked + span{
	background: url(../img/page03/icon07.png) no-repeat 0 center;
}
.entry-form .submit-container{
    text-align: center;
    padding: 31px 0 27px !important;
    border: 2px solid #e5e5e5;
    border-top: 0;
}
.entry-form .submit-container input[type="submit"] {
    display: inline-block;
    width: 143px;
    text-align: center;
    border: 1px solid #b7b7b7;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    padding: 7px 0 7px;
    outline: none;
    cursor: pointer;
}
.entry-form .submit-container input[type="submit"]:hover{
	background:#ce2700;
	color:#fff;
	border:1px solid #ce2700;
}
@media screen and (max-width: 1070px){
	.page-template-recruit-info .n-recruit .box-value .text{
		width:57%;
		padding-left:20px;
	}
	.page-template-recruit-info .n-recruit .box-value .image{
		width:43%;
	}
	.page-template-recruit-info .n-plusbox .box-value .text{
		width:57%;
		padding-right:20px;
	}
	.page-template-recruit-info .n-plusbox .box-value .image{
		width:43%;
	}
	.page-template-recruit-info .n-staff .cover{
		margin:0;
	}
	.page-template-recruit-info .n-recruit,
	.page-template-recruit-info .n-staff,
	.page-template-recruit-info  .requirements,
	.page-template-recruit-info  .n-flow,
	.page-template-recruit-info  .n-plusbox,
	.page-template-recruit-info  .entry-form{
		padding-left:20px;
		padding-right:20px;
	}
	
}
@media(max-width: 1023px){
	
}
@media(max-width: 992px){
	.entry-form.contact{
		padding-left:20px;
		padding-right:20px;
	}
}
@media(max-width: 640px){
	.entry-form.contact{
		padding-top:40px;
	}
	.entry-form.contact .ttl-value-cmn{
		font-size: 24px;
		margin-bottom: 30px;
	}
	.entry-form table tr td{
		padding:15px;
	}
	.entry-form table tr td input[type="text"]{
		width:100%;
		max-width:301px;
	}
	.entry-form table tr th:first-child{
		width: auto;
		padding:10px;
	}
	.entry-form.contact table tr td ul li{
		min-width: initial;
	}
	/* Recruit Info */
	.page-template-recruit-info .n-recruit{
		padding-top: 40px;
	}
	.page-template-recruit-info .n-recruit .ttl-value-cmn {
		margin-bottom: 46px;
	}
	.page-template-recruit-info .n-staff .cover .inner{
		width:50%;
	}
	.page-template-recruit-info .requirements{
		padding-top:25px;
	}
	.page-template-recruit-info .requirements .box-requirements table tr td{
		padding:15px;
	}
	.page-template-recruit-info .requirements .box-requirements table tr td:first-child{
		width: auto;
		padding:10px;
	}
	.page-template-recruit-info .requirements .box-requirements {
		margin-bottom: 40px;
	}
	.page-template-recruit-info .requirements h2,
	.page-template-recruit-info  .n-flow h2{
		margin-bottom:5px;
	}
	.page-template-recruit-info .n-flow .desc3,
	.page-template-recruit-info .entry-form .desc{
		margin-bottom:25px;
	}
	.page-template-recruit-info .entry-form h2{
		margin-bottom:15px;
	}
	.page-template-recruit-info .n-staff h2{
		margin-bottom: 10px;
	}
	.page-template-recruit-info .n-staff .cover .inner{
		width:100%;
		padding:0;
	}
	.page-template-recruit-info .n-staff .cover .inner img{
		margin-bottom:5px;
	}
	.page-template-recruit-info .n-staff .cover .inner p{
		margin-bottom:20px;
	}

	
	
}