﻿@media screen and (min-width:641px) {
	body{
		 
	}
	#container{
		overflow: hidden;
		 
	}
	.navig-wrap{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	#navi-in ul.menu > li {
		padding: 0;
		float: none;
		display: table-cell;
	}
	#menu-navmenu {
		display: table;
		width: 100%;
	}
	.header-right {
		margin-top: -2px;
	}
	#navi-in .navbar {
		padding: 32px 0 23px;
	}
	#navi-in ul.menu > li:nth-child(1) {
		width: 126px;
	}
	#navi-in ul.menu > li:nth-child(2) {
		width: 192px;
	}
	#navi-in ul.menu > li:nth-child(3) {
		width: 127px;
	}
	#navi-in ul.menu > li:nth-child(4) {
		width: 115px;
	}
	#navi-in ul.menu > li:nth-child(5) {
		width: 145px;
	}
	#navi-in ul.menu > li:nth-child(6) {
		width: 110px;
	}
	#navi-in ul.menu > li:nth-child(7) {
		width: 109px;
	}
	.footer-nav .col-item > ul li {
		margin: 0;
		margin-bottom: 13px;
	}
	.footer-nav {
		padding-top: 50px;
	}
	.footer-about {
		margin-top: 9px;
		line-height: 26px;
		padding-bottom: 31px;
	}
	.footer-about .logo-footer {
		top: 6px;
	}
	.footer-nav .col-item > ul > li > a {
		letter-spacing: 0.1em;
	}
	.footer-nav .col-item ul.link-sub > li > a {
		padding-left: 14px;
		letter-spacing: 0.1em;
	}
	.footer-nav .col-item > ul > li > ul > li {
		margin-bottom: 8px;
	}
	.footer-nav .col-item ul.link-sub {
		padding-left: 21px;
		margin-top: 11px;
	}
	.footer-nav .col-item.col01 {
		width: 282px;
	}
	.footer-nav .col-item.col02 {
		width: 250px;
	}
	.footer-nav .col-item.col03 {
		width: 270px;
		padding-left: 38px;
	}
	.footer-nav .col-item.col04 {
		width: 220px;
		padding-left: 44px;
	}
	.footer-nav .col-item.col02 ul.link-sub {
		padding-left: 16px;
	}
	.footer-nav .col-item.col03 ul.link-sub {
		padding-left: 16px;
	}
	.footer-nav .col-item.col04 ul.link-sub {
		padding-left: 16px;
	}
	.footer-content {
		padding: 35px 0 44px;
	}
	.footer-copyright p {
		padding: 18px 0 19px;
		letter-spacing: 0.33em;
	}
	.cover-go-top{
		position: absolute;
		left: 50%;
	}
	.box-news .list-news tr td .info-new{
		font-size: 15px;
	}
	.box-news .list-news tr td .text-new{
		font-size: 13px;
	}
	.box-news .list-news tr td .date{
		font-size: 18px;
	}
}
