﻿
@charset "UTF-8";
/*-----------------------------
RESET
------------------------------*/
@font-face {
    font-family: 'Hiragino Kaku Gothic Pro';
    src: url('../fonts/hirakakupro-w6.otf') format('opentype');
}
@font-face {
    font-family: 'Heisei Kaku Gothic Std W5';
    src: url('../fonts/Heisei Kaku Gothic Std W5.otf') format('opentype');
}
@font-face {
    font-family: 'kozgopr6n-Regular';
    src: url('../fonts/kozgopr6n-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/Gothic.ttf') format('truetype');
    font-weight:400;
}
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/Gothicb.ttf') format('truetype');
    font-weight:bold;
}

body {
	font-size: 15px;
	line-height: 1.7;
    font-family: 'Heisei Kaku Gothic Std W5', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	background: #fff;
    color:#292929;
}

.page-feature-image{
    padding:0;
}

.col-w{
    width: auto;
    max-width: 1024px;
    margin: 0 auto;
    position:relative;
}

/* Hover */
@media screen and (min-width:641px) {
    a:hover img{
        opacity: 0.5;
        -moz-opacity: 0.5;
        filter: alpha(opacity=50);
    }
}

img{
    max-width:100%;
}

/* Navi 
-----------------------*/
.navig-wrap{
    box-shadow:none;
    position:relative;
    z-index:1024;
}

#navi-in{
    padding-top:25px;
}

#navi-in .navbar{
    padding:30px 0 15px;
}

.logo{
    padding-top:0;
}
.logo span{
    font-family: 'kozgopr6n-Regular';
    letter-spacing: 1px;
}

/* Nav Menu */
#menu-navmenu li a{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size:15px;
    color:#292929;
    font-weight:600;
}
#navi-in ul.menu > li{
    margin-right:0;
    padding:0 15px;
}
#navi-in ul.menu > li:last-child{
    margin-right:0;
}
/* Nav Sub */
#menu-navmenu li ul.nav-sub{
    position: absolute;
    top: 30px;
    background: #fff;
    padding-bottom:5px;
    -webkit-box-shadow: 0 1px 3px rgba(50,50,50,0.3);
    -moz-box-shadow: 0 1px 3px rgba(50,50,50,0.3);
    box-shadow: 0 1px 3px rgba(50,50,50,0.3);
    z-index:1024;
    visibility:hidden;
    opacity:0;
 
}
@media screen and (min-width:641px) {
    #menu-navmenu li ul.nav-sub{
 
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
    }
}
#menu-navmenu li ul.nav-sub:before{
    content: "";
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(50,50,50,0.1);
    position: absolute;
    top: -9px;
    left: 55px;
    right: 0;
    width: 0px;
    display:none;
}
#menu-navmenu li ul.nav-sub:after{
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    left: 56px;
    width: 0px;
    margin: auto;
    display:none;
}
#menu-navmenu li ul.nav-sub li{
    height:auto;
    overflow:visible;
    padding-top:0!important;
    padding-bottom:0!important;
    border:none!important;
    background:#fff!important;
}
#menu-navmenu li ul.nav-sub li a{
    padding:5px 0 0 10px;
}
#menu-navmenu li:hover ul.nav-sub{
    visibility:visible;
    opacity:1;

}


/* Slide Wrap */
.slide-wrap{
    position:relative;
}
.slide-wrap .box-left{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    z-index:99;
}
.slide-wrap .box-right{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    z-index:99;
}
.slide-wrap .box-center{
    max-width:1024px;
    margin:auto;
    position:relative;
    z-index:100;
}
.slide-wrap a:hover img{
    opacity:1;
}
.slide-revolution .box-item{
    position:relative;
}
.slide-wrap .box-left img,
.slide-wrap .box-right img{
    width:100%;
    height:100%;
}

/* Box News */
.box-news{
    padding-top:20px;
    padding-bottom:60px;
    position:relative;
}
.block-title{
    text-align:center;
    padding-bottom:25px;
}
.block-title h3{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size:32px;
    font-weight:bold;
    letter-spacing:2px;
}
.block-title span{
    font-family: 'Century Gothic';
    font-size:12px;
    color:#7c7c7c;
    text-transform:uppercase;
    letter-spacing:2px;
}
.box-news .list-news{
    width:100%;
}
.box-news .list-news tr td{
    border-top:1px solid #eeeeee;
    border-left:none;
    border-bottom:1px solid #eeeeee;
    padding:20px 10px;
}
.box-news .list-news tr td .date{
    color:#4f4f4f;
}
.box-news .list-news tr td .text-new{
    font-size:11px;
    color:#fff;
    background:#ce2700;
    padding:0 10px;
    text-align:center;
}
.box-news .list-news tr td .info-new{
    font-size:13px;
}
.box-news .list-news tr td:first-child{
    padding-left:0;
}
/* Link More */
.link-more{
    text-align:center;
    margin-top:35px;
}
.link-more a{
    font-size:15px;
    color:#2e2e2e;
    border:2px solid #e5e5e5;
    display:inline-block;
    min-width:142px;
    text-align:center;
    padding:6px 16px;
    background:#fff;
}
.link-more .icon-arrow {
    background: url('../img/home/icon-arrow.png') no-repeat;
    display:inline-block;
    width: 9px;
    height: 9px;
    margin-left:3px;
}
.link-more a:hover{
    color:#ce2700;
    border-color:#ce2700;
}
.link-more a.active{
    color:#ce2700;
    border-color:#ce2700;
}

/* Cart Totalsupport */
.cart-totalsupport {
    background: url('../img/home/bg_01.jpg') no-repeat top center fixed;
    background-size:cover;
    padding:50px 0;
}
.cart-totalsupport .title{
    text-align:center;
    margin-bottom:30px;
}
.cart-totalsupport .title h2{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size:32px;
    font-weight:bold;
    letter-spacing:2px;
}
.cart-totalsupport .title span{
    font-family: 'Century Gothic';
    font-size:12px;
    color:#939393;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:bold;
}
.cart-totalsupport .info-head{
    background-color:#fff;
    padding:45px;
    margin-bottom:25px;
}
.cart-totalsupport .info-head p{
    max-width:570px;
    margin:auto;
}
.cart-totalsupport .list-item{
    margin-left:-10px;
    margin-right:-10px;
}
.cart-totalsupport .list-item .col-item{
    width:33.3333%;
    float:left;
    padding:0 10px;
}
.cart-totalsupport .list-item .col-item:nth-of-type(3n+1){
    clear:left;
}
.cart-totalsupport .list-item .item{
    background:#fff;
    position:relative;
    padding:2px;
    margin-bottom:20px;
}
.cart-totalsupport .list-item .rect{
    border-right:25px solid transparent;
    border-bottom:25px solid transparent;
    border-left:25px solid #ce1913;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
}
.cart-totalsupport .block-icon{
    text-align:center;
    padding:25px 0 10px;
}
.cart-totalsupport .img-icon {
    background: url('../img/home/img-icon-01.png') no-repeat;
    width: 50px;
    height: 26px;
    display: inline-block;
}
.cart-totalsupport .img-icon.icon-02{
    background: url('../img/home/img-icon-02.png') no-repeat;
}
.cart-totalsupport .img-icon.icon-03{
    background: url('../img/home/img-icon-03.png') no-repeat;
}
.cart-totalsupport .img-icon.icon-04{
    background: url('../img/home/img-icon-04.png') no-repeat;
}
.cart-totalsupport .img-icon.icon-05{
    background: url('../img/home/img-icon-05.png') no-repeat;
}
.cart-totalsupport .img-icon.icon-06{
    background: url('../img/home/img-icon-06.png') no-repeat;
}
.cart-totalsupport .list-item .item h3{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size:20px;
    line-height:26px;
    font-weight:bold;
    text-align:center;
    max-width:180px;
    margin:auto;
}
.cart-totalsupport .list-item .item h3.full{
    max-width:220px;
}
.cart-totalsupport .list-item .item span{
    font-family: 'Century Gothic';
    font-size:10px;
    color:#939393;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:2px;
    display:block;
    text-align:center;
    padding:15px 0;
}
.cart-totalsupport .image img{
    width: 100%;
}

/* Useful Info */
.useful-info{
    padding:70px 0;
    background:#fff;
}
.useful-info .list-item{
    margin-left:-6px;
    margin-right:-6px;
}
.useful-info .list-item .col-item{
    width: 25%;
    float: left;
    padding: 0 6px;
}
.useful-info .list-item .item{
    position:relative;
    margin-bottom:10px;
}
.useful-info .list-item .item .image a{
    display:block;
    position:relative;
}
.useful-info .list-item .item .image a:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.33);
}
.useful-info .list-item .item h3{
    font-size:15px;
    font-weight:400;
    line-height:22px;
    margin-top:10px;
    padding-bottom:5px;
}
.useful-info .list-item .item .caption-text{
    font-size: 46px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -40px;
    text-align: center;
    z-index: 101;
}

/* Recommended */
.recommended{
    background: url('../img/home/bg_02.jpg') no-repeat top center fixed;
    background-size:cover;
    padding:50px 0;
}
.recommended .list-item{
    margin-left:-6px;
    margin-right:-6px;
}
.recommended .list-item .col-item{
    width: 25%;
    float: left;
    padding: 0 6px;
}
.recommended .list-item .item{
    position:relative;
    margin-bottom:10px;
    background:#fff;
}
.recommended .list-item .item .image a{
    display:block;
    position:relative;
}
.recommended .list-item .item .new{
    font-family: 'Century Gothic';
    font-size:10px;
    color:#fff;
    background:#ce2700;
    position:absolute;
    top:0;
    left:5px;
    width:44px;
    height:20px;
    line-height:20px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:1px;
}
.recommended .info-content{
    padding:15px 15px 5px;
}
.recommended .info-content .product-name{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size:15px;
}
.recommended .info-content .short-description{
    font-family: 'kozgopr6n-Regular';
    font-size:12px;
    color:#000;
}
.recommended .info-content .price-box{
    font-family: 'kozgopr6n-Regular';
    font-size:12px;
    text-align:right;
}
.recommended .info-content .price-number{
    font-family: 'Century Gothic';
    font-weight:400;
    font-size:32px;
    color:#db0909;
    margin:0 2px;
}
.recommended .info-content .yen{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size:15px;
    color:#000;
}

.recommended.no_bg{
    background:#fff;
}

/* Box line */
.box-line{
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -150px;
    z-index:99;
}
.box-line a{
    display:block;
}

/* Footer */
#footer{
    background:#f6f6f6;
}
.footer-copyright{
    background:#c1bdbd;
}
.footer-copyright p{
    font-family: 'kozgopr6n-Regular';
    font-size:9px;
    color:#6a6a6a;
    padding:20px 0;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
}
.footer-content{
    padding:35px 0;
}
.footer-about{
    position:relative;
    margin-top:15px;
    padding-bottom: 40px;
    border-bottom:1px solid #e3e3e3;
}
.footer-about .logo-footer{
    position:absolute;
    top:0;
    left:0;
}
.footer-about .info-text{
    font-family: 'kozgopr6n-Regular';
    font-size:13px;
    padding-left:210px;
    letter-spacing:1px;
}
.footer-nav{
    padding-top:40px;
}
.footer-nav .col-item{
    width:25%;
    float:left;
    padding-left:40px;
}
.footer-nav .col-item:first-child{
    padding-left:0;
}
.footer-nav .col-item > ul li{
    margin:10px 0;
}
.footer-nav .col-item > ul > li > a{
    font-family: 'kozgopr6n-Regular';
    font-size:15px;
    position:relative;
    padding-left:10px;
}
.footer-nav .col-item > ul > li > a:before {
    content: "";
    background: url('../img/home/arrow_1.png') no-repeat;
    width:6px;
    height:8px;
    position:absolute;
    top:3px;
    left:0;
}
.footer-nav .col-item ul.link-sub{
    padding-left:20px;
}
.footer-nav .col-item ul.link-sub > li > a{
    font-family: 'kozgopr6n-Regular';
    font-size:13px;
    position:relative;
    padding-left:10px;
    display:block;
}
.footer-nav .col-item ul.link-sub > li > a:before{
    content: "";
    background: url('../img/home/arrow_2.png') no-repeat;
    width:5px;
    height:8px;
    position:absolute;
    top:5px;
    left:0;
}
#footer a:hover{
    color:#ce2700;
    text-decoration:none;
}
#footer .footer-nav ul.link-sub a{
    color:#505050;
}
#footer .footer-nav ul.link-sub a:hover{
    color:#ce2700;
}

/* Box Paging */
.box-paging{
    text-align:center;
    padding-top:25px;
}
.box-paging .paging a{
    font-family: 'kozgopr6n-Regular';
    border:1px solid #e5e5e5;
    padding: 0px 10px;
    display: inline-block;
    margin: 0 3px;
}
.box-paging .paging .prev{
    position:relative;
    padding-left:30px;
    padding-right:20px;
}
.box-paging .paging .prev:before {
    content:"";
    background: url('../img/home/icon-prev.png') no-repeat;
    width:7px;
    height:9px;
    position:absolute;
    top:8px;
    left:15px;
}
.box-paging .paging .next{
    position:relative;
    padding-left:20px;
    padding-right:30px;
}
.box-paging .paging .next:before {
    content:"";
    background: url('../img/home/icon-next.png') no-repeat;
    width:7px;
    height:9px;
    position:absolute;
    top:8px;
    right:15px;
}

/* Box Search */
.box-search{
    background:#f6f6f6;  
}
.checked-inner{
    padding:30px 0 15px;
    border-bottom:1px solid #e4e1dc;
}
.checked-inner h3{
    font-size:14px;
    display:inline-block;
    margin-right:5px;
    width:90px;
}
.checked-inner .item-inner{
    display:inline-block;
    margin-right:30px;
    margin-bottom:10px;
}
.checked-inner select {
    font-size:11px;
    font-weight:bold;
    border: 1px solid #e1e1e1;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-left: 5px;
    background: #fff url(../img/home/icon_select.jpg) no-repeat;
    height: 24px;
    line-height: 23px;
    background-position: 98% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align:middle;
    margin-top: -1px;
    cursor:pointer;
    min-width:110px;
}
.checked-inner.select-inner .item-inner{
    width:20%;
}

.checkbox-inner{
    padding-top:15px;
}
.checkbox-inner label{
    padding-left:25px;
    position:relative;
    cursor:pointer;
}
.checkbox-inner input[type="checkbox"]{
    display:none;
}
.checkbox-inner input[type="checkbox"] + span{
    width: 20px;
    height: 20px;
    border: 1px solid #e1e1e1;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    top: -1px;
    left: 0;
}
.checkbox-inner input[type="checkbox"]:checked + span{
    background: url(../img/home/icon_checked.png) no-repeat;
    background-position: center;
    background-color: #fff;
    background-size: 16px;
}
.btn-inner{
    padding:20px 0;
    text-align:center;
}
.btn-inner .block-btn{
    display:inline-block;
    margin:0 5px;
}
.btn-inner .btn-seach-1{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size:15px;
    font-weight:bold;
    color:#fff;
    background:#a1a1a1;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 1px 0 0 #676767;
    -moz-box-shadow:0 1px 0 0 #676767;
    box-shadow:0 1px 0 0 #676767;
    min-width:151px;
    padding:0 10px;
    height:50px;
    line-height:50px;
    text-align:center;
    cursor:pointer;
}
.btn-inner .input-search{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size:15px;
    font-weight:bold;
    color:#fff;
    background:#cd1a1a;
    -webkit-border-radius:4px 0 0 4px;
    -moz-border-radius:4px 0 0 4px;
    border-radius:4px 0 0 4px;
    -webkit-box-shadow:0 1px 0 0 #9b0000;
    -moz-box-shadow:0 1px 0 0 #9b0000;
    box-shadow:0 1px 0 0 #9b0000;
    min-width:190px;
    padding:0 10px;
    height:50px;
    line-height:50px;
    text-align:center;
}
.btn-inner .btn-seach-2{
    width:50px;
    height:50px;
    background:#af0b0b;
    -webkit-border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    border-radius:0 4px 4px 0;
    -webkit-box-shadow:0 1px 0 0 #9b0000;
    -moz-box-shadow:0 1px 0 0 #9b0000;
    box-shadow:0 1px 0 0 #9b0000;
    float:right;
    cursor:pointer;
}
.btn-inner .btn-seach-2 .icon_search {
    background: url('../img/home/icon_search.png');
    display:inline-block;
    width:19px;
    height:20px;
}
.btn-inner .btn-seach-1:hover{
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
}
.btn-inner .btn-seach-2:hover{
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
}
.btn-inner .input-search{
    cursor: pointer;
}
/* add custom */
.cart-totalsupport .image img{
    width: 100%;
}
/* End add custom */

/* Keyvisual */
.keyvisual.banner-key02 {
    background: url('../img/home/banner_key02.jpg') no-repeat center center;
    background-size: auto 100%;
}
.keyvisual.warranty, .keyvisual.insurance, .keyvisual.maintenance{padding-top: 0;}
/* Selected purchase  */
.selected-purchase{
    padding-top:90px;
}
.box-info{

}
.box-info h2{
    text-align:center;
    font-size:24px;
    margin-bottom:25px;
}
.box-info h2 span{
    color:#cd1a1a;
}
.box-info .line{
    width:26px;
    height:1px;
    background-color:#cd1a1a;
    margin:auto
}
.box-info p{
    font-size:15px;
    margin-top:0;
    margin-bottom:30px;
}
.box-info .content-text{
    max-width:756px;
    margin:auto;
    padding-top:40px;
}
.box-step{
    padding:20px 0 45px;
}
.box-step .item{
    padding-top:40px;
    border-top:1px solid #e3e3e3;
}
.box-step .item h3{
    font-size:28px;
    text-align:center;
    letter-spacing:6px;
}
.box-step .item h3 span{
    color:#ce2700;
}
.box-step .w-full{
    padding:40px 0;
}
.box-step .w-left{
    float: left;
    width: 440px;
}
.box-step .w-right{
    float:right;
    width: 550px;
}
.box-step .w-full.revert .w-left{
    float:right;
}
.box-step .w-full.revert .w-right{
    float:left;
}
.box-step .w-full h4{
    font-size:22px;
    margin-bottom:25px;
}
.box-step .w-full p{
    font-family: 'kozgopr6n-Regular';
    font-size:15px;
    line-height:28px;
    color:#000;
    margin-bottom:0;
}
/* ------ */
.cart-totalsupport.second{
    background:#fff;
    border-top:15px solid #f6f6f6;
    padding:70px 0 55px;
}
.cart-totalsupport.second .list-item .item{
    border:1px solid #dcdcdc;
}

/* */
.selected-purchase.second{
    padding-top:0;
}
.selected-purchase.second .box-step .item{
    padding-top:34px;
    border:none;
}
.selected-purchase.second .box-step .w-full{
    padding:34px 0;
}
.selected-purchase.second .box-step .w-full h4{
    margin-bottom:15px;
}
.selected-purchase.second{

}

/* Inspection Custom_1 */
.n-inspection.custom_1{
    margin-top:70px;
}

/* insurance Custom_1 */
.insurance.custom_1{
    margin-top:80px;
}
.insurance.custom_1 .sub-ttl{
    font-family: 'Hiragino Kaku Gothic Pro';
}
.insurance.custom_1 .sub-ttl span{
    font-family: 'Heisei Kaku Gothic Std W5';
    letter-spacing:0;
}
.insurance.custom_1 .n-different .ttl-different,
.insurance.custom_1 .n-different .box-inner p,
.insurance.custom_1 .n-different .box-inner ul li{
    font-family: 'kozgopr6n-Regular';
}
.insurance.custom_1 .n-different .box-inner p strong{
    font-family: 'Hiragino Kaku Gothic Pro';
}


/* Maintenance custom_1*/
.maintenance.custom_1 {
    margin-top:50px;
}

/* Step Flow */
.step-flow{
    padding-top:85px;
    padding-bottom:115px;
}
.step-flow .title{
    text-align:center;
}
.step-flow .title h3{
    font-size:28px;
    margin-bottom:20px;
}
.step-flow .title p{
    font-size:14px;
    margin-bottom:0;
}
.step-flow .title p.p-first{
    font-size:24px;
    color:#cd1a1a;
}
.step-flow .content-step{
    padding-top:30px;
}
.step-flow .content-step .item{
    font-family: 'kozgopr6n-Regular';
    padding:20px;
    margin-bottom:58px;
    border:2px solid #e5e5e5;
    position:relative;
}
.step-flow .content-step .item:before{
    content: "";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #cd1a1a;
    bottom: -41px;
    left: 0;
    right: 0;
    width: 0px;
    margin: auto;
}
.step-flow .content-step .item h4{
    font-size:22px;
    margin-bottom:10px;
}
.step-flow .content-step .item h4 span{
    color:#cd1a1a;
    margin-right:5px;
}
.step-flow .content-step .item:last-child:before{
    display:none;
}
.step-flow .content-step .item p{
   margin-bottom:5px;
}

/* Dummy Text */
.dummy-text{
    padding-bottom:190px;
}
.dummy-text .title{
    text-align:center;
    padding-bottom:40px;
}
.dummy-text .title h3{
    font-size:28px;
}
.dummy-text .w-left{
    float:left;
    width:444px;
}
.dummy-text .w-right{
    float:right;
    width:444px;
}
.dummy-text .image{

}

/* Shop Introduction */
.keyvisual.banner-key03{
    background: url(../img/home/banner_key03.jpg) no-repeat center center;
    background-size: auto 100%;
}
.shop-introduction{
    padding-top:90px;
    padding-bottom:70px;
}
.shop-introduction .ttl-value-cmn{
    max-width:400px;
    margin:auto;
    padding-left:0;
    margin-bottom:96px;
}
.shop-introduction .item{
    border-top:1px solid #e3e3e3;
    padding:40px 0 52px;
}
.shop-introduction .item:last-child{
     border-bottom:1px solid #e3e3e3;   
}
.shop-introduction .item .title{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size:24px;
    margin-bottom:20px;
}
.shop-introduction .w-left{
    float:left;
    width:320px;
}
.shop-introduction .w-right{
    float:left;
    width:704px;
}
.shop-introduction .info-content{
    padding-left:20px;
}
.shop-introduction .info-content .info-text{
    padding:15px 0;
}
.shop-introduction .info-content p{
    font-family: 'Century Gothic';
    font-size:15px;
    margin-bottom:5px;
}
.shop-introduction .info-content p:last-child{
    margin-bottom:0;
}
/* Block Link Shop */
.block-link-shop{
    
}
.block-link-shop a{
    font-family: 'kozgopr6n-Regular';
    font-size:12px;
    color:#fff;
    height:26px;
    line-height:26px;
    background:#cb0d0d;
    padding:0 12px;
    display:inline-block;
    margin-right:2px;    
}
/* Link More Detail */
.link-more-detail a{
    font-family: 'Century Gothic';
    font-size:15px;
    text-align:center;
    color:#000;
    width:280px;
    height:45px;
    line-height:45px;
    background:#fff;
    position:relative;
    display:block;
}
.link-more-detail a:after{
    content:"";
    border:2px solid #e5e5e5;
    position:absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
}
.link-more-detail a:before{
    content:"";
    background: url(../img/home/icon-arrow.png) no-repeat;
    width:9px;
    height:8px;
    position:absolute;
    top:18px;
    right:10px;
}
.link-more-detail a:hover,
.link-more-detail a.active{
    background:#cb0d0d;
    color:#fff;
    border:0;
}
.link-more-detail a:hover:before,
.link-more-detail a.active:before{
    background: url(../img/home/icon-arrow2.png) no-repeat;
}
.link-more-detail a:hover:after,
.link-more-detail a.active:after{
    border:0;
}

/* Hover Link */
.block-link-shop a:hover,
.link-more-detail a.active:hover{
    opacity:0.7;
}

/* Shop Morioka */
.keyvisual.banner-key04{
    background: url(../img/home/banner_key04.jpg) no-repeat center center;
    background-size: auto 100%;
}
.shop-morioka{
    padding-top:80px;
}
.shop-morioka .w-full{
    padding-bottom:76px;
    border-bottom:1px solid #e3e3e3;
}
.shop-morioka .ttl-value-cm{

}
.shop-morioka .w-left{
    float:left;
    width:460px;
}
.shop-morioka .w-right{
    float:left;
    width:564px;
}
.shop-morioka .info-content{
    padding-left:30px;
}
.shop-morioka .block-link-shop{
    margin-bottom:17px;
}
.shop-morioka #bx-pager a{
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-top:2%;
}
.shop-morioka #bx-pager a:nth-child(2n){
    margin-right:0;
}

/* Table Info Shop */
.table-info-shop{

}
.table-info-shop table{
    border:2px solid #e5e5e5;
    width:100%;
}
.table-info-shop table tr td{
    font-size:13px;
    padding: 7px 18px;
    border:1px solid #e5e5e5;
}
.table-info-shop table tr td:first-child{
    width:142px;
    background:#f6f6f6;
}
.table-info-shop table tr td a{
    color:#cd1a1a;
}
/* -- */
.shop-morioka .info-text{
    font-size:15px;
    background:#f6f6f6;
    padding:30px 35px;
    margin-top:25px;
}
.shop-morioka .info-text p{
    margin-bottom:0;
}
/* -- */


/* Box Map */
.box-map{
    padding-top:60px;
    padding-bottom:50px;
    border-bottom:1px solid #e3e3e3;
}
.block-map{
    padding-bottom:25px;
}
.link-map a{
    font-size:15px;
    color:#fff;
    background:#626262;
    max-width:373px;
    width:100%;
    height:50px;
    line-height:50px;
    text-align:center;
    display:block;
    margin:auto;
}
.link-map .icon-map{
    background: url('../img/home/icon_map.png') no-repeat;
    width:13px;
    height:18px;
    display:inline-block;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -4px;
}
.link-map a:hover{
    opacity:0.8;
}

/* access-store */
.access-store{
    padding-top:80px;
    padding-bottom:30px;
}
.access-store .title{
    text-align:center;
    padding-bottom:40px;
}
.access-store .icon-map{
    background: url('../img/home/icon_map2.png') no-repeat;
    width:25px;
    height:34px;
    display:inline-block;
    margin-bottom:15px;
}
.access-store .title h3{
    font-size:24px;
}
.access-store .list-item{
    margin-left:-15px;
    margin-right:-15px;
}
.access-store .list-item .item{
    float:left;
    width:33.3333%;
    padding-left:15px;
    padding-right:15px;
}
.access-store .list-item .item:nth-child(3n+1){
    clear:left
}
.access-store .list-item .content-block{
    padding-bottom:50px;
}
.access-store .list-item .image{
    margin-bottom:20px;
}
.access-store .list-item .info-text{

}
.access-store .list-item .info-text a{
    font-size:15px;
    line-height:24px;
}
.access-store .list-item .info-text a span{
    font-size:35px;
    color:#cd1a1a;
    margin-right:5px;
}

/* display next Slider Home */
.hesperiden.tparrows{
    display:none!important;
}
div.tp-bullet{
    margin-top:0;
}
.backtotop{
    right:36px;
    bottom:65px;
}

/* Breadcrumbs */
.breadcrumbs{
    padding-top: 5px;
}
.breadcrumbs > li{
    display: inline-block;
    margin-right: 7px;
    padding-right: 13px;
    position: relative;
}
.breadcrumbs > li:before{
    content: ">";
    font-size: 10px;
    color: #c1c1c1;
    position: absolute;
    top: -1px;
    right: 0;
}
.breadcrumbs > li:last-child:before{
    display:none;
}
.breadcrumbs > li > a,
.breadcrumbs > li > span{
    color: #c1c1c1;
    font-size: 10px;
    display:block;
}
.breadcrumbs > li > a:hover{
    color:#f0394d;
}

/* Response Tablet, Mobile */
@media screen and (max-width: 1070px) {
    .cart-totalsupport .list-item,
    .useful-info .list-item,
    .recommended .list-item,
    .access-store .list-item{
        margin:0;
    }
    .footer-nav{
        padding-left:15px;
        padding-right:15px;
    }
    .shop-introduction{
        padding-left:20px;
        padding-right:20px;
    }
    .shop-introduction .w-left{
        width:31%;
    }
    .shop-introduction .w-right{
        width:69%;
    }
    .shop-morioka{
        padding-left:20px;
        padding-right:20px;
    }
    .shop-morioka .w-left{
        width:45%;
    }
    .shop-morioka .w-right{
        width:55%;
    }
    .box-map{
        margin-left:20px;
        margin-right:20px;
    }

}

@media screen and (max-width: 1023px){
    .box-step{
        padding-left:20px;
        padding-right:20px;
    }
    .box-step .w-left{
        width:44%;
    }
    .box-step .w-right{
        width:56%;
    }
    .box-step .w-right .text{
        padding-left:15px;
    }
    .box-step .w-full.revert .w-right .text{
        padding-left:0;
        padding-right:15px;
    }
    /* Template */
    .n-inspection.custom_1,
    .sheet-metal,
    .insurance.custom_1,
    .step-flow,
    .inquiries.second,
    .maintenance.custom_1,
    .dummy-text{
        padding-left:20px;
        padding-right:20px;
    }



}

@media screen and (max-width: 992px) {
    .box-search{
        padding-left:15px;
        padding-right:15px;
    }
    .checkbox-inner .item-inner{
        min-width:initial;
    }
    /* Template */
   .selected-purchase.second .box-step{
       padding-bottom:0;
   }
   .n-inspection.custom_1,
   .insurance.custom_1,
   .maintenance.custom_1{
       margin-top:0;
   }
   .step-flow{
       padding-top:0;
       padding-bottom:30px;
   }
   .inquiries.second a{
       display:block;
       margin:auto;
   }
   .inquiries.second a.trans.white{
       margin-bottom:20px;
   }
   .maintenance.custom_1{
       padding-top:40px;
   }
   .dummy-text .w-left{
       width:50%;
       padding-right:15px;
   }
   .dummy-text .w-right{
       width:50%;
       padding-left:15px;
   }
   .maintenance{
       padding-bottom:50px;
   }
   .dummy-text{
       padding-bottom:80px;
   }



}

@media screen and (max-width: 640px){
    .breadcrumb,
    .breadcrumbs{
        padding-left:10px;
    }
    .keyvisual{
       height:150px!important;
    }
    .keyvisual .text-inner{
        padding-top: 10px!important;
    }
    .keyvisual .text-inner .ttl-key{
        font-size:24px!important;
    }
    .backtotop{
        right: 24px!important;        
        -webkit-box-shadow: 0 0 0px 1px #fff;
        -moz-box-shadow: 0 0 0px 1px #fff;
        box-shadow: 0 0 0px 1px #fff;
        bottom: 75px!important;
    }
    .footer-content{
        padding-bottom:5px!important;
    }
    .footer-nav{
        padding-left:0;
        padding-right:0;
        padding-top:5px!important;
    }
    .footer-about{
        float:left;
        margin-top:0;
    }
    .checkbox-inner .item-inner {
        display: block;
        margin-top: 5px;
    }
    .checkbox-inner h3{
        margin-bottom:15px;
    }
    .btn-inner{
        max-width:267px;
        margin:auto;
    }
    .btn-inner .block-btn{
        display:block;
        width:267px;
        margin:0 0 15px 0;
    }
    .btn-inner .input-search{
        width:217px;
    }
    /* Page Selected */
    .selected-purchase{
        padding-top:30px;
        padding-left:20px;
        padding-right:20px;
    }
    .box-info p{
        margin-bottom:15px;
    }
    .box-info h2{
        margin-bottom:15px;
    }
    .box-info .content-text{
        padding-top:20px;
    }
    .box-step .item{
        padding-top:15px;
    }
    .box-step .item h3{
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 3px;
    }
    .box-step .w-full {
        padding: 15px 0;
    }
    .box-step .w-left{
        width:100%;
    }
    .box-step .w-right{
        width:100%;
    }
    .box-step .w-right .text{
        padding-top:15px;
        padding-left:0;
        padding-right:0;
    }
    .box-step .w-full.revert .w-right .text{
        padding-right:0;
    }
    .box-step .w-full h4{
        margin-bottom:0;
    }
    /* Template */
    .selected-purchase.second .box-step{
        padding-left:0;
        padding-right:0;
    }
    .selected-purchase.second .box-step .item{
        padding-top:0;
    }
    .selected-purchase.second .box-step .w-full{
        padding:15px 0;
    }
    .n-inspection.custom_1 .ttl-inspection{
        margin-bottom:15px;
    }
    .n-inspection.custom_1 .content{
        padding: 30px 15px 20px;
    }
    .insurance.custom_1 .box-inner{
        padding-left:60px;
    }
    .inquiries.second .content{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .inquiries.second a{
        width:250px;
    }
    .step-flow{
        padding-bottom:0;
    }
    .inquiries.second{
        padding-top:60px;
        padding-bottom:60px;
    }
    .dummy-text {
        padding-bottom: 60px;
    }  
    .dummy-text .title{
        padding-bottom:15px;
    }
    .dummy-text .w-left{
        width:100%;
        padding-right:0;
        margin-bottom:25px;
    }
    .dummy-text .w-right{
        width:100%;
        padding-left:0;
    }
    .maintenance.custom_1 table tr td{
        padding:5px;
    }
    /* Shop */
    .shop-introduction,
    .shop-morioka{
        padding-top:40px;
    }
    .shop-introduction .ttl-value-cmn,
    .shop-morioka .ttl-value-cmn{
        margin-bottom:60px;
    }
    .shop-introduction .w-left{
        width:100%;
    }
    .shop-introduction .w-right{
        width:100%;
    }
    .shop-introduction .info-content{
        padding-top:20px;
        padding-left:0;
    }
    .shop-introduction .item {
        padding: 25px 0 45px;
    }
    .shop-morioka .w-left{
        max-width:460px;
        width:100%;
    }
    .shop-morioka .w-right{
        width:100%;
    }
    .shop-morioka .info-content{
        padding-top:30px;
        padding-left:0;
    }
    .shop-morioka .w-full{
        padding-bottom:40px;
    }
    .box-map{
        padding-top:40px;
        padding-bottom:40px;
    }
    .access-store{
        padding-top:30px;
    }
    .access-store .title{
        padding-bottom:25px;
    }
    .access-store .list-item .item{
        width:100%;
    }
    .access-store .list-item .content-block {
        padding-bottom: 25px;
    }
    .access-store .list-item .image{
        margin-bottom:10px;
    }


}

@media screen and (max-width: 359px){
    .box-paging .paging a{
        font-size:12px;
        padding:0 7px;
        margin:0 1px;
    }
    .box-paging .paging .prev{
        padding-left: 20px;
        padding-right: 10px;
    }
    .box-paging .paging .next{
        padding-left: 10px;
        padding-right: 20px;
    }
    .box-paging .paging .prev:before{
        top: 6px;
        left: 7px;
    }
    .box-paging .paging .next:before{
        top: 6px;
        right: 7px;
    }


}