.btn-menu {
  display: none;
}

.sm {
  display: none!important;
}

@media screen and (max-width: 640px) {
  .md {
    display: none!important;
  }

  .sm {
    display: block!important;
  }
	.ttl-sm{
		font-size: 9px;
		margin-bottom: 3px;
	}
  #navigation {
    display: none;
  }

  #navi-in {
    max-width: inherit;
    min-width: 320px;
    padding: 10px;
  }
  #navi-in .logo {
	float:left;
    text-align: center;
    margin-bottom: 0;
	padding: 0;
  }
  #navi-in .logo a {
    padding-right: 0;
  }
  #navi-in .logo a img{
	  height: 35px;
  }
  #navi-in .logo span {
    display: block;
    margin-top: 2px;
  }
  #navi-in .header-right {
    float: right;
	margin-right: 10px;
  }
  #navi-in .header-right img {
    height: 35px;
  }
  #navi-in .btn-menu {
    display: block;
    float: right;
  }
  #navi-in .navbar {
    float: left;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    border-top: 1px solid #dcdcdc;
  }
  #navi-in .navbar ul {
    float: left;
    width: 100%;
  }
  #navi-in .navbar ul li {
    float: left;
    width: 100%;
    border: 0;
    padding: 0;
    border-bottom: 1px solid #dcdcdc;
  }
  #navi-in .navbar ul li.has-sub > a {
    position: relative;
    background: url(../img/page03/icon18.png) no-repeat right center;
    background-size: auto 100%;
  }
  #navi-in .navbar ul li:first-child {
    border: 0;
    border-bottom: 1px solid #dcdcdc;
  }
  #navi-in .navbar ul li a {
    display: block;
    text-align: left;
    padding: 0;
    font-weight: normal;
    padding: 5px 10px;
    font-size: 14px;
  }
  #navi-in .navbar ul li a.active {
    background: url(../img/page03/icon19.png) no-repeat right center;
    background-size: auto 100%;
  }
  #navi-in .navbar ul li ul {
    display: none;
    opacity: 1;
    visibility: visible;
    position: relative;
    top: auto;
    padding-left: 10px;
    -webkit-box-shadow: 0 0 0 rgba(50, 50, 50, 0);
    -moz-box-shadow: 0 0 0 rgba(50, 50, 50, 0);
    box-shadow: 0 0 0 rgba(50, 50, 50, 0);
    border-top: 1px solid #dcdcdc;
  }
  #navi-in .navbar ul li ul:after, #navi-in .navbar ul li ul:before {
    display: none;
  }
  #navi-in .navbar ul li ul li a {
    font-size: 13px;
  }

  .box-news {
    padding: 20px 10px 40px;
  }
  .box-news .col-w .block-title h3 {
    font-size: 25px;
  }
  .box-news .col-w .list-news tr td {
    border: 0;
    padding: 0;
    float: left;
  }
  .box-news .col-w .list-news tr td .date {
    margin-right: 10px;
  }
  .box-news .col-w .list-news tr td .date, .box-news .col-w .list-news tr td .text-new {
    margin-bottom: 5px;
  }
  .box-news .col-w .list-news tr td:nth-child(3) {
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    line-height: 17px;
    padding-bottom: 10px;
  }
.cart-totalsupport{
	background: url(../img/home/bg_01.jpg) no-repeat top center;
	background-size: auto 100%;
	background-position: bottom center;
}
  .cart-totalsupport .title h2 {
    font-size: 25px;
    padding: 0 10px;
    line-height: 30px;
  }
  .cart-totalsupport .info-head {
    padding: 20px;
    text-align: center;
  }
  .cart-totalsupport .info-head p {
    font-size: 12px;
  }
  .cart-totalsupport .list-item {
    margin: 0;
  }
  .cart-totalsupport .list-item .col-item {
    width: 100%;
  }
  .cart-totalsupport .list-item .col-item img{
	  width:100%;
  }
  .cart-totalsupport .list-item .col-item:nth-of-type(3n+1) {
    clear: inherit;
  }
  .cart-totalsupport .list-item .col-item .item h3 {
    max-width: 640px;
    font-size: 16px;
    line-height: 24px;
  }
  .cart-totalsupport .list-item .col-item .item span {
    padding: 10px 0;
  }

  .useful-info {
    padding: 30px 0px;
  }
  .useful-info h3 {
    font-size: 25px;
    padding: 0 10px;
    line-height: 30px;
  }
  .useful-info .list-item {
    margin: 0;
  }
  .useful-info .list-item .col-item {
    float: left;
    width: 50%;
  }
  .useful-info .list-item .col-item .item .caption-text {
    display: none;
  }
	.useful-info .list-item .item .image a:before{
		display:none;
	}
  .recommended {
    padding: 30px 0;
  }
  .recommended h3 {
    font-size: 25px;
    padding: 0 10px;
    line-height: 30px;
  }
  .recommended .list-item {
    margin: 0;
  }
  .recommended .list-item .col-item {
    width: 100%;
  }
  .recommended .list-item .col-item img{
	  width: 100%;
  }

  .footer-content {
    padding: 20px 0;
  }

  .footer-about {
    padding: 0 10px 10px;
  }
  .footer-about .logo-footer {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-about .info-text {
    float: left;
    width: 100%;
    padding-left: 0;
  }

  .footer-nav {
    padding-top: 20px;
  }
  .footer-nav .list-item .col-item {
    float: left;
    width: 100%;
    padding: 0 10px;
  }
  .footer-nav .list-item .col-item ul li a {
    font-size: 14px;
    text-decoration: none;
  }
  .footer-nav .list-item .col-item ul li ul li a {
    font-size: 12px;
  }

  .backtotop {
    width: 40px;
    position: fixed;
    right: 10px;
    bottom: 60px;
  }

  .link-more {
    margin-top: 25px;
  }

  .box-line {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    top: auto;
  }
  .box-line .line {
    float: left;
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  #navi-in .logo img {
    width: 200px;
  }
  #navi-in .header-right img {
    height: 30px;
  }
  #navi-in .btn-menu img {
    height: 30px;
  }

  .cart-totalsupport .list-item .col-item {
    width: 100%;
    padding: 0 20px;
  }

  .useful-info .list-item .col-item {
    width: 100%;
    padding: 0 20px;
  }

  .recommended .list-item .col-item {
    width: 100%;
    padding: 0 20px;
  }
  #navi-in .logo a img{
	  height: 30px;
  }
  
}

/*# sourceMappingURL=n-reponsive.css.map */


@media screen and (max-width: 640px) {
  .keyvisual .text-inner .ttl-key {
    font-size: 25px;
  }

  .n-wrapper {
    padding: 0 10px;
  }

  .inforcar {
    margin-top: 30px;
  }
  .inforcar .left {
    width: 100%;
    padding: 0 10px;
  }
  .inforcar .right {
    width: 100%;
    padding: 20px 10px 0;
  }
  .inforcar .right .name {
    font-size: 22px;
  }
  .inforcar .right .box-price .number {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    text-align: center;
  }
  .inforcar .right .box-price .number span {
    font-size: 24px;
  }
  .inforcar .right .box-store .middle {
    padding: 3px 10px;
  }
  .inforcar .right .box-store .middle .tel .number {
    font-size: 30px;
  }
  .inforcar .right .box-store .bottom {
    padding: 3px 10px 10px;
  }
  .inforcar .cover-tbl {
    padding: 0 10px;
  }
  .inforcar .cover-tbl .ttl-tbl {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .inforcar .n-cv {
    overflow: scroll;
  }

  .recommended.second {
    padding: 40px 0;
  }

  .ttl-value-cmn {
    font-size: 22px;
    line-height: 40px;
    padding-left: 0;
    margin-bottom: 30px;
    padding: 0 20px;
  }
  .ttl-value-cmn:after {
    bottom: -10px !important;
  }
.guarantee{
	padding-top: 30px;
}
  .guarantee .ttl-value-cmn {
    margin-bottom: 50px;
	font-size: 22px;
  }

  .top-guarantee {
    margin-bottom: 20px;
  }
  .top-guarantee.reveert .left img {
    display: block;
    margin: 0 auto;
  }
  .top-guarantee .ttl-guarantee {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top-guarantee .left {
    float: left;
    padding: 0;
    width: 100%;
    padding: 10px;
  }
  .top-guarantee .left .dis-tbl .num {
    font-size: 16px;
	width: 40px;
  }
  .top-guarantee .left .dis-tbl .text{
	  padding: 0 10px;
  }
  .top-guarantee .left h4{
	font-size:18px;
  }
  .top-guarantee .left .dis-tbl .text p {
    font-size: 14px;
  }
  .top-guarantee .left .dis-tbl .text p span {
    font-size: 140%;
  }
  .top-guarantee .right {
    padding-top: 20px;
    width: 100%;
  }
  .top-guarantee .right h4 {
    font-size: 18px;
    line-height: 30px;
  }
  .top-guarantee .right p {
    font-size: 14px;
    line-height: 24px;
  }

  .plan {
    padding-top: 10px;
  }
  .plan .infor-company {
    margin-bottom: 30px;
  }
  .plan .ttl-plan {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .plan .desc {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .plan .box-plan {
    margin-bottom: 30px;
  }
  .plan .box-plan h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .example .ttl-ex {
    font-size: 16px;
  }
  .example .content-ex {
    padding: 20px;
  }
  .example .content-ex ul li {
    width: 100% !important;
    height: auto !important;
    line-height: inherit !important;
    padding: 10px 0;
  }
  .example .content-ex ul li.arrow img {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .example .content-ex ul li.last {
    text-align: center;
    font-size: 20px;
  }
  .example .content-ex ul li.last span {
    font-size: 14px;
  }

  .inquiries {
    padding: 40px 0 !important;
  }
  .inquiries .content {
    padding: 10px !important;
  }
  .inquiries .content h2 {
    font-size: 18px;
  }
  .inquiries .content a {
    display: block;
    width: 100% !important;
    margin: 0 0 10px;
    font-size: 14px;
    padding: 7px 0;
  }

  .cart-totalsupport.archi {
    padding: 30px 0;
  }
  .cart-totalsupport.archi .list-item .col-item .item {
    min-height: 180px;
  }

  .infor-company table tr td {
    padding: 10px;
  }
  .infor-company table tr td:first-child {
    width: 100px;
  }

  .box-insurance {
    margin-bottom: 30px;
  }
  .box-insurance .ttl-inner {
    font-size: 22px;
    line-height: 26px;
  }
  .box-insurance .content .left, .box-insurance .content .center, .box-insurance .content .right {
    float: left;
    width: 100%;
  }
  .box-insurance .content .left img, .box-insurance .content .center img, .box-insurance .content .right img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .box-insurance .content .center {
    padding: 30px;
  }
  .box-insurance .content .center br {
    display: none;
    font-size: 18px;
  }

  .box-features {
    margin-bottom: 30px;
  }
  .box-features .ttl-features {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 30px;
  }
  .box-features .box-inner {
    padding: 10px 10px 10px 45px;
  }
  .box-features .box-inner p {
    font-size: 16px;
    line-height: 20px;
  }
  .box-features .box-inner p span {
    left: -35px;
    font-size: 18px;
  }
  .box-features .box-in-bottom {
    font-size: 16px;
    padding: 10px 0;
  }

  .box-isurance-company {
    margin-bottom: 30px;
  }
  .box-isurance-company .ttl-box-isurance-company {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 30px;
  }
  .box-isurance-company .inner {
    padding: 15px 15px 0;
  }
  .box-isurance-company .inner .clearfix {
    margin-bottom: 10px;
  }
  .box-isurance-company .inner .left {
    width: 100%;
  }
  .box-isurance-company .inner .left img {
    max-width: 100%;
  }
  .box-isurance-company .inner .right {
    width: 100%;
    padding-top: 10px;
    margin-left: 0;
  }
  .box-isurance-company .inner .right p {
    font-size: 14px;
    line-height: 18px;
  }

  .n-different {
    margin-bottom: 30px;
  }
  .n-different .ttl-different {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 30px;
  }
  .n-different .box-inner {
    padding: 10px 10px 10px 45px;
  }
  .n-different .box-inner .note {
    margin-top: 10px;
  }
  .n-different .box-inner .note.second {
    margin-top: 20px;
  }
  .n-different .box-inner .sub-ttl {
    margin-bottom: 5px;
  }
  .n-different .box-inner .sub-ttl span {
    left: -35px;
    font-size: 18px;
  }
  .n-different .box-inner p {
    font-size: 14px;
    line-height: 20px;
  }
  .n-different .box-inner ul {
    margin-top: 20px;
  }
  .n-different .box-inner ul li {
    font-size: 14px;
    line-height: 20px;
    padding-left: 25px;
  }
  .n-different .box-inner ul li:after {
    width: 15px;
    height: 12px;
    background-size: 100% 100%;
    top: 3px;
  }

  .n-policy {
    margin-bottom: 30px;
  }
  .n-policy .ttl-n-policy {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 30px;
  }
  .n-policy .boc-n-polycy {
    padding: 20px;
  }
  .n-policy .boc-n-polycy .ttl-sub {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .n-policy .boc-n-polycy p {
    font-size: 14px;
    line-height: 20px;
  }
  .n-policy .boc-n-polycy ol li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .box-value {
    margin-bottom: 30px;
  }
  .box-value .image {
    float: left;
    width: 100% !important;
    margin-bottom: 10px;
  }
  .box-value .image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .box-value .text {
    width: 100% !important;
  }
  .box-value .text .ttl-sub {
    font-size: 18px;
    margin-top: 0;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .box-value .text p {
    font-size: 14px;
    line-height: 20px;
  }

  .new-value {
    padding-top: 30px;
  }
  .new-value .ttl-value {
    font-size: 22px;
    padding-left: 0;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .new-value.handing .ttl-value {
    margin-bottom: 30px;
  }
  .new-value.handing .box-value {
    margin-bottom: 30px;
  }
  .new-value.handing .box-value .text ul {
    margin-top: 10px;
  }
  .new-value.handing .box-value .text ul li {
    font-size: 14px;
  }

  .history {
    padding: 30px 0;
  }
  .history .ttl-history {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .history ul li {
    font-size: 14px;
    padding: 10px;
    white-space: normal;
  }
  .history ul li .year {
    width: 100%;
    border: 0;
    line-height: 30px;
    margin-right: 0;
  }

  .n-inspection .ttl-inspection {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .n-inspection .content {
    padding: 10px;
  }
  .n-inspection .content ul li {
    padding-left: 25px;
  }
  .n-inspection .content ul li:after {
    width: 15px;
    height: 12px;
    background-size: 100% 100%;
    top: 10px;
  }

  .sheet-metal {
    padding-top: 20px;
  }
  .sheet-metal .ttl-sheet-metal {
    font-size: 22px;
  }
  .sheet-metal .content {
    padding: 15px;
    font-size: 20px;
    line-height: 28px;
  }
  .sheet-metal .content span {
    font-size: 120%;
  }

  .maintenance {
    padding: 30px 0;
  }
  .maintenance .ttl-maintenance {
    font-size: 22px;
    line-height: 25px;
  }
  .maintenance .cover {
    overflow: scroll;
  }
  .maintenance .cover table {
    width: 1000px;
  }
  .maintenance .box-bottom {
    padding: 10px;
  }
  .maintenance .box-bottom .sub-ttl {
    font-size: 16px;
  }
  .maintenance .box-bottom p {
    font-size: 14px;
    line-height: 24px;
  }

  .block-maintaince {
    padding: 30px 0 10px;
  }
  .block-maintaince .ttl-value-cmn {
    margin-bottom: 20px;
  }
  .block-maintaince .box-maintaince {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .block-maintaince .box-maintaince > img {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
  }
  .block-maintaince .box-maintaince .ttl-main {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .block-maintaince .box-maintaince p {
    font-size: 14px;
    min-height: 1px;
    margin-bottom: 15px;
  }

  .inquiries.purcha h2 {
    line-height: 30px;
    margin-bottom: 15px;
  }

  .philosophy {
    padding-top: 20px;
  }
  .philosophy .ttl-philosophy {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }
  .philosophy .desc {
    font-size: 20px;
  }
  .philosophy .box-phil {
    padding: 15px;
  }
  .philosophy .box-phil h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .philosophy .box-phil p {
    font-size: 14px;
    line-height: 24px;
  }

  .n-message {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .n-message h3 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }
  .n-message .avatar {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .n-message .avatar img {
    display: block;
    margin: 0 auto;
  }
  .n-message .avatar p {
    font-size: 16px;
    margin: 10px 0;
  }
  .n-message .text {
    float: left;
    width: 100%;
  }
  .n-message .text h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .n-message .text .desc2 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 25px;
  }
  .n-message .text p {
    font-size: 14px;
    line-height: 24px;
  }

  .infor-company {
    margin-bottom: 30px;
  }
  .infor-company h3 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }
  
  .recommended .info-content .price-number{
	  font-size: 28px;
  }
}
 

/*# sourceMappingURL=n-reponsive2.css.map */
@media screen and (max-width: 640px) {
  .link-inner {
    padding: 30px 0 0;
    margin-bottom: 40px;
  }
  .link-inner.faq{
	  padding-top: 30px;
	  margin-bottom: 40px;
  }
  .link-inner h2 {
    font-size: 22px;
    padding-left: 0;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .link-inner ul li {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .link-inner ul li a {
    padding: 10px;
    font-size: 14px;
  }

  .list-voice h2 {
    font-size: 22px;
    padding-left: 0;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .box-list-voice .heading {
    font-size: 16px;
    padding: 10px;
  }
  .box-list-voice .bd-voice {
    padding: 10px;
  }
  .box-list-voice .bd-voice p {
    font-size: 14px;
  }
  .box-list-voice .bd-voice .note {
    font-size: 10px;
  }
  .box-list-voice .m-height {
    min-height: 10px !important;
  }

  .n-pager {
    margin-bottom: 30px;
  }
  .n-pager ul li {
    margin: 0 2px;
  }
  .n-pager ul li a {
    font-size: 12px;
    border-width: 1px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-decoration: none;
  }
  .n-pager ul li a.prev {
    width: 70px;
  }
  .n-pager ul li a.next {
    width: 70px;
  }

  .list-faq h2 {
    font-size: 22px;
    padding-left: 0;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .box-faq .heading-accor .left {
    font-size: 22px;
    width: 50px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
  .box-faq .heading-accor .text {
    font-size: 14px;
    padding: 10px 30px 10px 0; 
  }
  .box-faq .heading-accor :after {
    width: 15px;
    height: 15px;
    right: 10px;
    background-size: 100%; 
  }
  .box-faq .body-accor .left {
    font-size: 22px;
    width: 50px;
    padding: 0;
    text-align: center;
  }
  .box-faq .body-accor .text {
    padding: 10px 10px 10px 0;
  }
  .box-faq .body-accor .text p {
    font-size: 12px;
    line-height: 22px;
  }
  .box-faq .body-accor .text table {
    margin: 20px 0;
  }
  .box-faq .body-accor .text ol li {
    font-size: 12px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=n-reponsive3.css.map */
