@charset "utf-8";


/* clearfix */
.clearfix {
	zoom:1;
}
.clearfix:after{
	content: ""; 
	display: block; 
	clear: both;
}
#feed1{
}
#feed1 p{
	font-weight:bold;
	margin: 0;
	padding: 15px;
	border: 3px solid #3DB680;
	background: #fff;
	border-radius:5px;
	text-align:center;
	font-size:24px;
}
#admin_info{
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border: solid 1px #ddd;
}
#admin_info ul{
	margin: 0 0 0 10px;
}

#admin_info li{
	float:left;
	margin:10px 20px 10px 10px;
	list-style:initial;
}

/* ----------スマホ向けの変更を行います！------------------------------------------ */
@media screen and (max-width: 640px) {
/* ------------------------------------------------------------------------------- */
#feed1{
	display: none;
}
}