.sp-none {
    display: none !important;
}
.pc-none {
    display: block !important;
}
#header-in, #wrap-in, #navi-in, #footer-in, #gazou-in, .rev-in {
    max-width: 100%;
}
.rev-in {
    text-align: center;
}
.logo {
    float: none;
    text-align: center;
    padding: 0;
}
.font-90{
    font-size: 90%;
}
#top_con {
    padding: 0;
    width: 100%;
    float: none;
}
/*-sp_menu-*/
#sp_slide{
    display: block;
}
/*-フロート-*/
.floatL{
    float: none;
    text-align: left;
}
.floatR{
    float: none;
}
/*--マージン--*/
.mg_l50{
	margin:0 !important;
}
/*header*/
#sp_slide .button {
    position: absolute;
    display: block;
    background-color: #252525;
    border: 2px solid rgb(255, 255, 255);
    opacity: 0.9;
    color: #fff;
    padding: 10px 20px 5px;
    text-align: center;
    border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    font-size: 70%;
    z-index: 9999 !important;
}
#sp_slide .menu-button-left {
    left: -1px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#sp_slide .menu-button-right {
    right: -1px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/*slidemenu*/
#sp_slide .slidemenu {
    background-color: #252525;
}
#sp_slide .slidemenu ul.menu li {
    list-style: none;
    border-top: 1px solid #4D4D4D;
    border-bottom: 1px solid #000;
    font-size:14px;
    line-height: 1.8;
    text-align: left;
    float: none;
}
#sp_slide .slidemenu ul.menu li a,
#sp_slide .slidemenu .blog-top a{
    padding:10px 0 10px 20px;
    display: block;
    text-decoration: none;
    color: #fff;
}
#sp_slide .slidemenu ul.menu li:first-child {
}
#sp_slide .slidemenu ul.menu li:last-child {
    border-bottom: none;
}
#sp_slide .slidemenu .slidemenu-header {
    height: 49px;
    background-color: #ccc;
    bottom: 100px;
}
#sp_slide .slidemenu .slidemenu-header div {
    padding: 17px 0px 0px 19px;
    text-decoration: none;
    color: #fff;
}
#sp_slide .pos {
    position: fixed;
    bottom: 140px;
    z-index: 1;
    left: -15px;
    right: -15px;
}

/*plugin*/
#sp_slide .slidemenu {
  top: 0;
  padding-top: 0;
  width: 240px;
  position: fixed;
  visibility: hidden;
  z-index: -1;
}
.logged-in #sp_slide .slidemenu {
    padding-top: 50px;
}
#sp_slide .slidemenu .slidemenu-header {
  position: relative;
}
#sp_slide .slidemenu .slidemenu-body {
  height: 100%;
  overflow: hidden;
  position: relative;
    color: #fff;
}
#sp_slide .slidemenu .slidemenu-body .slidemenu-content {
  position: relative;
  padding-bottom: 60px;
}
#sp_slide .slidemenu-left {
    left: 0;
}
#sp_slide .slidemenu-right {
    right: 0;
}

/*anime*/
#sp_slide .menu-button-left:active {
    -moz-transform: scale(1.2) rotate(90deg);
    -webkit-transform: scale(1.2) rotate(90deg);
    -o-transform: scale(1.2) rotate(90deg);
    -ms-transform: scale(1.2) rotate(90deg);
    transform: scale(1.2) rotate(90deg);
}
#sp_slide .menu-button-right:active {
    -moz-transform: scale(1.2) rotate(-90deg);
    -webkit-transform: scale(1.2) rotate(-90deg);
    -o-transform: scale(1.2) rotate(-90deg);
    -ms-transform: scale(1.2) rotate(-90deg);
    transform: scale(1.2) rotate(-90deg);
}

.menu-sidebar-wrap {
    background: transparent;
}
#menu-sidebar > ul > li > a {
    border: 0;
}
.sidebar_banner {
    margin: 0 0 20px;
}
#ad1 ul {
    margin: 0 0 20px;
}
#container #wrap{
    padding-bottom: 30px;
}
#navi-in {
    padding: 10px;
}
.logo img {
    vertical-align: top;
    max-width: 200px;
}

.entry-title {
    font-size: 13px;
}
.cat-posts {
    margin-bottom: 30px;
}
.cat-posts .cat-name {
    font-size: 20px;
    line-height: 1;
    border-left: 5px solid #f0394d;
    margin-left: 20px;
    margin-right: 20px;
}
.cat-posts .post-wrap {
    margin-left: 0;
    margin-right: 0;
}

.cat-posts .post-wrap .entry {
    margin: 0;
    padding: 10px 20px;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    float: none;
}
.cat-posts .post-wrap .entry:first-child {
    border: 0;
}
.cat-posts-1 .entry-wrap {
    padding: 0;
}
.cat-posts .post-wrap .sumbox {
    max-width: 80px;
    float: left;
}
.cat-posts .post-wrap .entry-content {
    padding: 0;
    margin-left: 95px;
}
.cat-posts .post-wrap .entry-content p {
    font-size: 11px;
}
.cat-posts .post-wrap .entry-title  {
    font-size: 15px;
}
.view-all a {
    padding: 0 30px;
    line-height: 40px;
    font-size: 15px;
}
.single-post #main {
    padding: 15px;
}
#breadcrumb .breadcrumbs {
    padding-left: 15px;
    padding-right: 15px;
}

.single-posts .entry {
    width: 100%;
    float: none;
    overflow: hidden;
    margin-bottom: 0;
}
.single-posts .post-wrap .entry {
    margin: 0;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    float: none;
}
.single-posts .post-wrap .entry:first-child {
    border: 0;
}
.single-posts .entry h4 {
    font-size: 13px;
}
.archive-posts .cat-title {
    margin-left: 15px;
    margin-right: 15px;
}

#footer {
    padding: 0;
}



/*Sidebar*/
#side {
    width: 100%;
    float: none;
    padding-left: 10px;
    padding-right: 10px;
}
.mail_btn {
    font-size: 16px;
}
.menu_underh2 {
    font-size: 15px;
    line-height: 2;
}

.newsRssBox{
	margin: 0 20px;
}
.newsRssBox div {
    display: inline-block;
    float: none;
    margin: 0 10px 0 0;
}
.newsRssBox h4{
	display: block;
    margin: 5px 0 0;
}


.box-social {
    margin: 0;
    padding: 0 10px;
}
.box-social .box-twitter {
    float: left !important;
}
.box-social .box-facebook {
    float: right !important;
}
.home .rev-wrap {
    padding-top: 0;
}
.box-contact {
    padding: 0 20px;
    position: relative;
}
.box-contact a {
    position: absolute;
    bottom: 10px;
    width: calc(50% - 35px);
    width: -webkit-calc(50% - 35px);
    width: -moz-calc(50% - 35px);
}
.box-contact .tel {
    left: 30px;
}
.box-contact .mail {
    right: 30px;
}

#footer {
    padding-bottom: 56px;
}
.footer-widget {
    padding: 50px 20px 0;
    margin: 0;
    text-align: center;
}
@media (min-width: 480px) and (max-width: 768px) {
    .footer-widget .widget-3 p br:nth-child(odd) {
        display: none;
    }
}

.footer-widget > div {
    padding: 0;
    float: none;
    width: 100%;
}

.footer-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3b3b3b;
    z-index: 1;
    display: none;
}
.footer-bottom ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-bottom ul li {
    float: left;
    width: 25%;
}
.footer-bottom ul li a {
    font-size: 13px;
    color: #fff;
    display: block;
    padding: 34px 0 3px;
    text-align: center;
    border-left: 1px solid #262626;
    box-shadow: inset -1px 0 0 rgba(255,255,255,0.1);
}
.footer-bottom ul li:first-child a {
    border: 0;
}
.footer-bottom ul li:last-child a {
    box-shadow: none;
}

.footer-bottom ul li:first-child a {
    border: 0;
    background: url("images/footer_bottom_icon01.png") center 7px no-repeat;
    background-size: 20px auto;
}
.footer-bottom ul li:nth-child(2) a {
    background: url("images/footer_bottom_icon02.png") center 5px no-repeat;
    background-size: 17px auto;
}
.footer-bottom ul li:nth-child(3) a {
    background: url("images/footer_bottom_icon03.png") center 10px no-repeat;
    background-size: 23px auto;
}
.footer-bottom ul li:nth-child(4) a {
    background: url("images/footer_bottom_icon04.png") center 5px no-repeat;
    background-size: 23px auto;
}

.backtotop {
    bottom: 160px;
}

.box-contact {
    margin-top: 40px;
    margin-bottom: 10px;
}
/*Service*/
.news_btn {
    text-align: center;
}
.service-box {
    padding: 55px 20px;
}
.service-box ul li {
    padding-top: 5px;
    font-size: 15px;
    padding-bottom: 5px;
}
.service-bottom h3 {
    font-size: 16px;
}
.page-title {
    font-size: 20px;
}
.service-1 {
    padding: 15px;
}
.service-2 img {
    float: none;
}
.service-2 ul {
    padding: 15px;
    margin: 10px 0 0;
}
.service-3 img {
    float: none;
}
.service-3 ul {
    padding: 15px;
    margin: 10px 0 0;
}
.service-4 img {
    float: none;
}
.service-4 ul {
    padding: 15px;
    margin: 10px 0 0;
}

/*Pages*/
h3.border-bottom span:after {
    display: none;
}
.box-white-inner .news_btn {
    margin-top: 15px;
}
.box-white-inner {
    padding: 20px 15px;
}
.corporate-1 {
    padding: 20px 15px;
}
.corporate-1 img {
    float: none;
}
.corporate-1 p {
    margin: 15px 0 0;
}
h3.border-bottom {
    font-size: 18px;
}
ul.checkbox li {
    font-size: 15px;
}

.corporate-2 > div:first-child img,
.corporate-2 > div:nth-child(2) img,
.corporate-3 img {
    float: none;
}
.corporate-2 > div:nth-child(2) img {
	margin: 0;
}
.corporate-2 > div:first-child p,
.corporate-2 > div:nth-child(2) p,
.corporate-3 ul {
    margin: 15px 0 0;
}
.corporate-2 {
    text-align: center;
}
.corporate-2 p {
    text-align: left;
}
.corporate-3 {
    text-align: center;
}
.corporate-3 ul {
    text-align: left;
}
.corporate-4 {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    text-align: center;
}
.corporate-4 tr td {
    display: block;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

/*Ipo*/
.ipo-link {
    text-align: center;
}
.ipo-link a:first-child {
    margin-bottom: 20px;
}
.ipo-link a {
    float: none!important;
    width: 100%;
    max-width: 70%;
    font-weight: 600;
}
.ipo-link a span {
    text-align: left;
    font-weight: normal;
}
.ipo-table th, .ipo-table td {
    font-size: 15px;
    padding: 5px;
}

/*case*/
.case-table th, .case-table td {
    font-size: 15px;
    padding: 5px;
}
.support-1 .item {
    float: none;
    width: 100%;
}
.support-1 .item .item-inner p {
    margin: 0;
}
.support-2 {
    text-align: center;
}
.support-2 img {
    float: none;
}
.support-2 p {
    margin: 15px 0;
    text-align: left;
}
.support-3 {
    text-align: center;
}
.support-3 img {
    float: none;
}
.support-3 p {
    margin: 15px 0;
    text-align: left;
}
.support-table tr th, .support-table tr td {
    padding: 5px;
}
.support-table tr td:last-child {
	text-align: left;
}
.flow-wrap .item {
    margin: 0 0 30px;
}
.flow-wrap .item h4 {
    font-size: 20px;
    background-size:95px auto!important;
    padding-left: 0;
    padding-left: 110px;
}
.flow-wrap .item img {
    max-width: 150px;
    float: left;
}
.flow-wrap .item .content p {
    padding: 0;
}
.flow-wrap .item .content {
    margin:  0 0 0 165px;
}
.media-1 {
    padding: 20px;
}
.media-1 ul {
    width: auto;
}
.media-wrap h4 {
    font-size: 18px;
}
.media-2 li {
    display: block;
    padding: 35px 0;
}
.media-2 li+li:before {
    left: 50%;
    top: 0;
}
.media-3 li {
    background-position: 0 0!important;
    padding-left: 0;
    padding-top: 30px;
}
.media-4 {
    margin-bottom: 30px;
}
.media-4 .content {
    width: 100%;
    float: none;
    overflow: hidden;
}
.media-4 .img {
    text-align: left;
    width: 100%;
    float: none;
}
.media-4 .img img {
    max-width: 165px;
    margin-right: 10px;
    float: left;
}
.original .item {
    float: none;
    width: 100%;
}
.original .item:first-child{
    margin: 0 0 40px;
}
.original .item p {
    margin: 20px 0;
}
.consulting-02 ul {
    margin-left: 0;
}
.access-01 {
    padding-bottom: 30px;
}
.access-02 {
    text-align: center;
    padding: 30px 0;
}
.access-02 p {
    text-align: left;
    margin-top: 15px;
}
.access-02 img {
    float: none;
}
.access-03 {
    text-align: center;
}
.access-03 img {
    float: none;
}
.access-03 ul {
    text-align: left;
    margin: 15px 0 0;
}
.training-02 {
    text-align: center;
}
.training-02 img {
    float: none;
    margin: 0 0 15px;
}
.training-02 p {
    text-align: left;
    padding: 0;
}
.about-1 ul {
    text-align: center;
}
.about-2 table tr td:first-child {
    width: auto;
}
.about-2 table tr td {
    padding-left: 5px;
    padding-right: 5px;
}
.about-2 .gmap {
    text-align: center;
    padding-bottom: 20px;
}
.about-2 .gmap iframe {
    margin: 20px 0;
}
.about-link a {
    font-size: 16px;
    padding: 5px 10px 5px 60px;
    margin: 10px;
}
.about-3 .item {
    float: none;
    width: 370px;
    max-width: 100%;
    margin: 0 auto 10px;
}
.about-3 div[class*="box-"] > div {
    margin: 0;
}
.about-3 .item {
    padding: 0;
}
.sp-top-01 {
    text-align: center;
}
.sp-top-01 img {
    float: none;
    margin: 0 0 10px;
}
.sp-top-01 p {
    text-align: left;
}
@media screen and (max-width: 480px) {
    .service-1 img {
        float: none;
    }
    .service-1 ul {
        margin: 0;
    }
    .box-white-inner .news_btn {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .corporate-3 ul {
        padding: 20px 15px;
    }
    .ipo-link a {
        max-width: 100%;
        font-size: 16px;
        padding: 5px;
    }
    .ipo-link a:nth-child(2) {
        background-size: 132px auto;
    }
    .ipo-link a:nth-child(2) span {
        margin-left: 132px;
    }
    .ipo-link a span {
        font-size: 14px;
    }
    h3.support-title,
    h3.support-title-2 {
        font-size: 18px;
    }
    .flow-wrap .item img {
        max-width: 80px;
    }
    .flow-wrap .item .content {
        margin: 0 0 0 90px;
    }
    .media-4 .img img {
        max-width: 90px;
	margin: 5px 10px 0;
    }
    .original .item .img img {
        float: left;
        max-width: 120px;
    }
    .original .item dl {
        margin-left: 130px;
    }
    .original .item h4 {
        font-size: 17px;
    }
    .training-03 {
        text-align: center;
    }
    .training-03 p {
        text-align: left;
    }
    .training-03 img {
        float: none;
        margin: 0 0 15px;
    }
}